<dl class="activity">
{{#if activities}}
  <dt class="detail">Activities:</dt><dd class="detail">{{activities}}</dd>
{{/if}}
  <dt class="detail">Distance:</dt><dd class="detail">{{formatFloat distance.miles}} miles</dd>
  <dt class="detail">Vertical gain:</dt><dd class="detail">{{formatInteger vertical.feet}} feet</dd>
{{#with duration}}
  <dt class="detail">Duration:</dt><dd class="detail">
{{#if hours}}
    {{plural hours "hour"}}, {{plural minutes "minute"}}, {{plural seconds "second"}}
{{else}}
    {{minutes}}' {{seconds}}"
{{/if}}
  </dd>
{{/with}}
{{#if heart.max}}
  <dt class="detail">Peak heart rate:</dt><dd class="detail">{{formatInteger heart.max}} bpm</dd>
{{/if}}
</dl>
