<section class="responsive">
  <h3 class="section-title">{{chartTitle}}</h3>

  <div class="chart-container">
    <svg
     version="1.1"
     viewBox="0 0 {{chartWidth}} {{chartHeight}}"
     preserveAspectRatio="xMinYMin slice"
     class="chart"
    >
      <title>{{chartTitle}}</title>

      <g transform="translate({{add axis.width padding}}, 0)">
{{#each bars}}
{{#with offset}}
        <g transform="translate({{x}}, {{y}})" class="chart-bar">
{{/with}}
{{#if upperBound}}
          <title>{{lowerBound}} to {{upperBound}}</title>
{{else}}
          <title>{{barTitle}}</title>
{{/if}}
          <rect
           width="{{../barWidth}}px"
           height="{{barHeight}}px"
           class="chart-bar"
          />

          <text
           text-anchor="middle"
           x="{{halve ../barWidth}}"
           y="{{labelOffset}}px"
           class="{{textClass}}"
          >{{formatFloat value}}</text>
        </g>
{{/each}}
        <line
         x1="-{{axis.x.offset}}px"
         y1="0"
         x2="-{{axis.x.offset}}px"
         y2="{{chartHeight}}px"
         class="chart-axis"
        />

        <g transform="translate(-{{padding}}, {{minus chartHeight axis.y.offset}})">
          <line
           x1="0"
           y1="0"
           x2="{{axis.x.length}}px"
           y2="0"
           class="chart-axis"
          />
        </g>
      </g>
    </svg>
  </div>

  <table cellspacing="0" cellpadding="0" class="indent space-below">
    <caption class="invisible">Raw data</caption>

    <thead>
      <tr>
        <th>{{capitalise type}}</th>
        <th>{{metricType}}</th>
      </tr>
    </thead>

    <tbody>
{{#each bars}}
      <tr>
        <td>{{#if upperBound}}{{lowerBound}} to {{upperBound}}{{else}}{{barTitle}}{{/if}}</td>
        <td>{{formatFloat value}}</td>
      </tr>
{{/each}}
    </tbody>
  </table>
</section>
