<li>
  <article class="project-details text-only">
    <div class="project">
      <h4 class="detail"><a href="{{url}}">{{name}}</a></h4>

{{#if languages}}
      <p class="detail"><em>{{languages}}</em></p>
{{/if}}
    </div>

    <p class="detail">
      {{{description}}}
    </p>

{{#if commits}}
    <p class="indent no-space-below">Latest commits:</p>

    <ol>
{{#each commits}}
      <li class="indent no-space-below">
        <div class="project">
          <p class="detail">
            <a href="{{url}}" class="commit"><abbr title="{{id}}">{{shortId}}</abbr></a>
          </p>

          <p class="detail">
            <time datetime="{{time}}">{{date}}</time>
          </p>
        </div>

        <p class="detail">
          {{comment}}
        </p>
      </li>
{{/each}}
    </ol>

    <p class="indent"><a href="{{commitsUrl}}">All commits</a></p>
{{/if}}
  </article>
</li>
