{{#if tags}}
<aside class="tags clearfix">
  <{{#if isEssay}}h3{{else}}h2{{/if}} class="invisible">
    Topics
  </{{#if isEssay}}h3{{else}}h2{{/if}}>

  <ul>
{{#each tags}}
    <li>
{{#if isLink}}
      <a href="{{link}}" class="tag" rel="tag">{{term}}</a>
{{else}}
      <span class="tag">{{term}}</span>
{{/if}}
    </li>
{{/each}}
  </ul>
</aside>
{{/if}}
