<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="refresh" content="1800" />
    <meta charset="utf-8" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{description}}" />

    <link rel="preload" href="/fonts/patua-one-v6-latin-regular.8c89de8c058c59c843009a7a76334d0c42aa5769.woff2" as="font" type="font/woff2" />
    <link rel="preload" href="/fonts/roboto-v16-latin-regular.0a59a3b17c93c1093c2514b3a9d51c91395aabd0.woff2" as="font" type="font/woff2" />
    <link rel="preload" href="/fonts/roboto-v16-latin-700.a1118c5362e2dd34ac5cf34e135042c3ad827b58.woff2" as="font" type="font/woff2" />
    <!--[if !IE]><!-->
    <link rel="stylesheet" href="/style/dashboard.{{hashes.style.dashboard}}.css" />
    <!--<![endif]-->
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>

  <body>
{{{body}}}

    <footer>
      <p class="smallprint">
        Copyright &copy; <a href="/">{{copyright}}</a>
      </p>
    </footer>
  </body>
</html>
