<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{#if viewTitle}}{{viewTitle}}{{#if appendSiteTitle}}: {{title}}{{/if}}{{else}}{{title}}{{/if}}</title>

    <meta name="robots" content="noai, noimageai" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{description}}" />
{{#if nobots}}
    <meta name="robots" content="noindex, nofollow" />
{{/if}}

    <link rel="preload" href="/fonts/patua-one-v6-latin-regular.8c89de8c058c59c843009a7a76334d0c42aa5769.woff2" as="font" type="font/woff2" />
    <link rel="preload" href="/fonts/roboto-v16-latin-regular.0a59a3b17c93c1093c2514b3a9d51c91395aabd0.woff2" as="font" type="font/woff2" />
    <link rel="preload" href="/fonts/roboto-v16-latin-700.a1118c5362e2dd34ac5cf34e135042c3ad827b58.woff2" as="font" type="font/woff2" />
    <!--[if !IE]><!-->
    <link rel="stylesheet" href="/style/main.{{hashes.style.main}}.css" />
    <!--<![endif]-->
    <link rel="icon" type="image/png" href="/favicon-32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon-16.png" sizes="16x16" />
{{#if atomPath}}
    <link rel="alternate" type="application/atom+xml" href="{{atomPath}}" />
{{/if}}
  </head>

  <body>
    <header class="clearfix">
      <h1>{{title}}</h1>

      <p class="tagline">{{tagline}}</p>

      <nav>
        <ul>
{{#each routes}}
{{#if navTitle}}
          <li>
{{#if isLink}}
            <a href="{{path}}" class="nav">
{{else}}
            <span aria-hidden="true" class="nav">
{{/if}}
              {{navTitle}}
{{#if isLink}}
            </a>
{{else}}
            </span>
{{/if}}
          </li>
{{/if}}
{{/each}}
        </ul>
      </nav>
{{> tags}}
    </header>

{{#if viewTitle}}
{{#if isEssay}}
    <div class="body clearfix essay">
{{else}}
    <section class="body clearfix">
      <h2 class="invisible">{{viewTitle}}</h2>
{{/if}}
{{else}}
    <div class="body clearfix{{#if isEssay}} essay{{/if}}">
{{/if}}
      {{{body}}}
{{#if viewTitle}}
{{#if isEssay}}
    </div>
{{else}}
    </section>
{{/if}}
{{else}}
    </div>
{{/if}}

    <footer>
      <p class="smallprint">
        Copyright &copy; <a href="/">{{copyright}}</a>
      </p>
    </footer>
  </body>
</html>

