.clearfix
  zoom 1
  &:before, &:after
    content '.'
    display block
    height 0
    overflow hidden
  &:after
    clear both

.invisible
  position absolute !important
  height 1px
  width 1px
  overflow hidden
  clip rect(1px 1px 1px 1px)
  clip rect(1px, 1px, 1px, 1px)

.indent
  margin 1em 0 1em 1em

.space-below
  margin-bottom 2em

.no-space-below
  margin-bottom 0

.smallprint
  margin-top 3em
  font-size font-small

.tagline
  margin -0.5em 0 -0.2em
  color fg-primary
  font-family 'Patua One', serif
  font-size font-tagline

.nav
  display inline
  float left
  margin 0.8em 0.8em 1.3em 0
  font-size font-nav
  font-weight bold

a.nav
  color fg-body
  &:hover, &:active
    color fg-primary

span.nav
  color fg-secondary

li:last-child .nav
  margin-right 0

.section-title, .article-title
  font-size font-small
  font-weight bold

.section-title
  margin-bottom 1.75em

.article-title
  margin-bottom 0.2em

  a
    color fg-body

    &:hover, &:active
      color fg-primary

.article-time
  font-size font-tiny
  margin-bottom 0.4em

.essay .article-time
  margin-top -1.8em
  margin-bottom 1.8em

.project
  display flex
  flex-flow row nowrap
  justify-content flex-start
  align-items center
  align-content flex-start
  margin-bottom 1.6em

.project-details
  display flex
  flex-flow column wrap
  justify-content flex-start
  align-items flex-start
  align-content flex-start
  .project
    margin-bottom 0
    .detail:first-child
      margin-right 0.6em
  &.text-only
    margin-bottom 1em
  dl
    display flex
    flex-flow row wrap
    justify-content flex-start
    align-items flex-end
    align-content flex-start
    margin-bottom 0
  dt
    float none
    clear none
    font-weight normal
  dd
    margin-right 0.5em

.detail
  margin-bottom 0.5em

.thumbnail
  display block
  box-sizing border-box
  min-width 80px
  max-width 80px
  margin-top 0.3em
  margin-right 1em

.commit-title
  display inline
  float left
  margin-right 0.5em

.responsive
  width 100%

.chart-container
  display block
  position relative
  width 100%
  padding-bottom 50%
  margin-bottom 0.5em
  vertical-align middle
  overflow hidden

.chart
  display inline-block
  position absolute
  top 0
  left 0

.chart-axis
  stroke-width 2
  stroke #000

.chart-bar
  fill fg-primary

.chart-bar-label
  fill #fff

.essay li
  margin-left 2em

  &:last-child
    margin-bottom 1.5em

.essay ul li
  list-style circle

.essay ol li
  list-style decimal

.centered
  text-align center

.activity .detail
  margin-bottom 0.2em

.tags
  clear left
  max-width 32em

header .tags
  position relative
  top -0.7em
  margin-bottom 0.6em

.tags li
  float left

.tag
  display block
  margin-right 2px
  margin-bottom 2px
  padding 0 1em
  border 1px solid fg-body
  border-radius 5px
  font-size font-small

article .tag
  font-size font-copy

a.tag
  border-color fg-primary

a.tag:hover, a.tag:active
  border-color fg-secondary

.icon
  display inline
  vertical-align middle
  width 1em

.jobspam
  font-style italic

.aside
  font-size font-small
  font-style italic
