html
  font-size 100.01%

html, body
  height 100%

html, body, header, footer, section, article, h1, h2, h3, h4,
p, div, span, pre, code, blockquote, ol, ul, li, dl, dt, dd,
sup, sub, a, picture, img, abbr, time, svg, table, tr, th, td, form, label
  margin 0
  padding 0
  border 0
  font-size 100%
  font inherit
  vertical-align baseline

body
  padding 0 5%
  background-color bg-body
  color fg-body
  font-family roboto, tahoma, verdana, freesans, clean, sans-serif
  font-size font-base

header, footer, section
  display block

h1, h2, h3
  font-weight bold

h1
  margin-top 0.4em
  font-family 'Patua One', serif
  font-size font-title
  letter-spacing 0.027em
  word-spacing 0.08em
  color fg-primary

h2, h3
  font-size font-small
  margin-bottom 1.75em

h4, p, td, dd
  font-weight normal

h4, p, dt, dd, th, td, li
  font-size font-copy
  word-spacing 0.1em

li h3, li h4, li p, li dt, li dd, li th, li td
  font-size font-restore

h3, h4, p, dl, table, pre
  margin-bottom 1.5em

p
  max-width 32em

li p
  max-width 30em

p img
  width 100%

blockquote
  border-left 4px solid silver

blockquote p
  font-weight lighter
  margin-left 1em

dt
  float left
  clear left
  margin-right 0.3em
  font-weight bold

table
  box-sizing border-box
  border-spacing 0
  page-break-inside avoid

th
  font-weight bold

th, td
  padding 0.2em 1em 0.2em 0
  vertical-align middle
  text-align left
  &:last-child
    padding-right 0

li
  list-style none

sup, sub
  font-size small

sup
  vertical-align top

a
  color fg-primary
  text-decoration none
  cursor pointer
  &:hover, &:active
    color fg-secondary

svg
  margin 0
  page-break-inside avoid
  width 100%

form, label, input
  display block

form
  margin-bottom 2em

label
  font-size 0.8em

input, textarea, select
  margin-bottom 0.4em
  font-size 100%
  font inherit

textarea
  height 16em

code
  display inline-block
  box-sizing border-box
  padding 0.15em 0.25em 0 0.25em
  border-radius 3px
  background-color #e9e9e9
  font-family consolas, monaco, "lucida console", monospace, serif
  font-size 0.8em

pre
  color #888

  code
    margin-left 2em
    padding 0
    background-color bg-body

