@media (min-width: 480px)
  body
    padding 0 10%

  .nav
    margin-right 2em

  .thumbnail
    margin-top 0

@media (min-width: 640px)
  .section
    display inline
    float left
    width 48%
    &:nth-of-type(2n+1)
      margin-right 4%
      clear left

@media (min-width: 740px)
  body
    font-size font-base-large

  th, td
    font-size 0.9em

  .indent
    font-size font-small

  .thumbnail
    min-width 100px
    max-width 100px

  .chart-label
    font-size 0.6em

  .tag
    margin-right 5px
    margin-bottom 5px
    border-radius 7px
