<h2>View from Le Ragnaie</h2>
<p>
  <a href="https://photos.philbooth.me/1581273852000-montalcino-tuscany.jpg">
    <img alt="View from Le Ragnaie" src="https://photos.philbooth.me/1581273852000-montalcino-tuscany-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2020-02-09T18:44:12.000Z">9th February 2020</time></dd>
  <dt>Where:</dt><dd>Montalcino, Tuscany</dd>
</dl>