<h2>Monmouth Viaduct</h2>
<p>
  <a href="https://photos.philbooth.me/1599058832000-monmouth-viaduct-monmouthshire.jpg">
    <img alt="Monmouth Viaduct" src="https://photos.philbooth.me/1599058832000-monmouth-viaduct-monmouthshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2020-09-02T15:00:32.000Z">2nd September 2020</time></dd>
  <dt>Where:</dt><dd>Monmouth Viaduct, Monmouthshire</dd>
</dl>