<h2>Mum, Canford Heath</h2>
<p>
  <a href="https://photos.philbooth.me/1604236241000-canford-heath-dorset.jpg">
    <img alt="Mum, Canford Heath" src="https://photos.philbooth.me/1604236241000-canford-heath-dorset-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2020-11-01T13:10:41.000Z">1st November 2020</time></dd>
  <dt>Where:</dt><dd>Canford Heath, Dorset</dd>
</dl>