<h2>Horses near Sway</h2>
<p>
  <a href="https://photos.philbooth.me/1609672979000-sway-hampshire.jpg">
    <img alt="Horses near Sway" src="https://photos.philbooth.me/1609672979000-sway-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2021-01-03T11:22:59.000Z">3rd January 2021</time></dd>
  <dt>Where:</dt><dd>Sway, Hampshire</dd>
</dl>