<h2>Garden, before work started</h2>
<p>
  <a href="https://photos.philbooth.me/1614171652000-pennington-hampshire.jpg">
    <img alt="Garden, before work started" src="https://photos.philbooth.me/1614171652000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2021-02-24T13:00:52.000Z">24th February 2021</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>