<h2>Garden, day 2 of work</h2>
<p>
  <a href="https://photos.philbooth.me/1614353293000-pennington-hampshire.jpg">
    <img alt="Garden, day 2 of work" src="https://photos.philbooth.me/1614353293000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2021-02-26T15:28:13.000Z">26th February 2021</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>