<h2>Garden pond, day 4 of work</h2>
<p>
  <a href="https://photos.philbooth.me/1614701688000-pennington-hampshire.jpg">
    <img alt="Garden pond, day 4 of work" src="https://photos.philbooth.me/1614701688000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2021-03-02T16:14:48.000Z">2nd March 2021</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>