<h2>Garden, day 12 of work</h2>
<p>
  <a href="https://photos.philbooth.me/1615908722000-pennington-hampshire.jpg">
    <img alt="Garden, day 12 of work" src="https://photos.philbooth.me/1615908722000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2021-03-16T15:32:02.000Z">16th March 2021</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>