<h2>Milo, first day at home</h2>
<p>
  <a href="https://photos.philbooth.me/1617636120000-pennington-hampshire.jpg">
    <img alt="Milo, first day at home" src="https://photos.philbooth.me/1617636120000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2021-04-05T15:22:00.000Z">5th April 2021</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>