<h2>Your shoe? No, I haven't seen it, why do you ask?</h2>
<p>
  <a href="https://photos.philbooth.me/1618080623000-pennington-hampshire.jpg">
    <img alt="Your shoe? No, I haven't seen it, why do you ask?" src="https://photos.philbooth.me/1618080623000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2021-04-10T18:50:23.000Z">10th April 2021</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>