<h2>Milo and shoe</h2>
<p>
  <a href="https://photos.philbooth.me/1618244227000-pennington-hampshire.jpg">
    <img alt="Milo and shoe" src="https://photos.philbooth.me/1618244227000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2021-04-12T16:17:07.000Z">12th April 2021</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>