<h2>Milo, in the garden</h2>
<p>
  <a href="https://photos.philbooth.me/1618564784000-pennington-hampshire.jpg">
    <img alt="Milo, in the garden" src="https://photos.philbooth.me/1618564784000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2021-04-16T09:19:44.000Z">16th April 2021</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>