<h2>Milo, in the garden</h2>
<p>
  <a href="https://photos.philbooth.me/1619887796000-pennington-hampshire.jpg">
    <img alt="Milo, in the garden" src="https://photos.philbooth.me/1619887796000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2021-05-01T16:49:56.000Z">1st May 2021</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>