<h2>Milo, first day in collar</h2>
<p>
  <a href="https://photos.philbooth.me/1620298298000-pennington-hampshire.jpg">
    <img alt="Milo, first day in collar" src="https://photos.philbooth.me/1620298298000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2021-05-06T10:51:38.000Z">6th May 2021</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>