<h2>Milo, with azaleas</h2>
<p>
  <a href="https://photos.philbooth.me/1620570937000-pennington-hampshire.jpg">
    <img alt="Milo, with azaleas" src="https://photos.philbooth.me/1620570937000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2021-05-09T14:35:37.000Z">9th May 2021</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>