<h2>Azaleas and fuschias</h2>
<p>
  <a href="https://photos.philbooth.me/1623427543000-pennington-hampshire.jpg">
    <img alt="Azaleas and fuschias" src="https://photos.philbooth.me/1623427543000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2021-06-11T16:05:43.000Z">11th June 2021</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>