<h2>Milo</h2>
<p>
  <a href="https://photos.philbooth.me/1624026051000-pennington-hampshire.jpg">
    <img alt="Milo" src="https://photos.philbooth.me/1624026051000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2021-06-18T14:20:51.000Z">18th June 2021</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>