<h2>Milo, in the garden</h2>
<p>
  <a href="https://photos.philbooth.me/1624731364000-pennington-hampshire.jpg">
    <img alt="Milo, in the garden" src="https://photos.philbooth.me/1624731364000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2021-06-26T18:16:04.000Z">26th June 2021</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>