<h2>Devil's fingers</h2>
<p>
  <a href="https://photos.philbooth.me/1625929331000-pennington-common-hampshire.jpg">
    <img alt="Devil's fingers" src="https://photos.philbooth.me/1625929331000-pennington-common-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2021-07-10T15:02:11.000Z">10th July 2021</time></dd>
  <dt>Where:</dt><dd>Pennington Common, Hampshire</dd>
</dl>