<h2>Red Admiral</h2>
<p>
  <a href="https://photos.philbooth.me/1625235535000-pennington-hampshire.jpg">
    <img alt="Red Admiral" src="https://photos.philbooth.me/1625235535000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2021-07-02T14:18:55.000Z">2nd July 2021</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>