<h2>Milo, with grass seed</h2>
<p>
  <a href="https://photos.philbooth.me/1626460764000-pennington-hampshire.jpg">
    <img alt="Milo, with grass seed" src="https://photos.philbooth.me/1626460764000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2021-07-16T18:39:24.000Z">16th July 2021</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>