<h2>Milo, Dylan and Claire</h2>
<p>
  <a href="https://photos.philbooth.me/1627762923000-oxford-oxfordshire.jpg">
    <img alt="Milo, Dylan and Claire" src="https://photos.philbooth.me/1627762923000-oxford-oxfordshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2021-07-31T20:22:03.000Z">31st July 2021</time></dd>
  <dt>Where:</dt><dd>Oxford, Oxfordshire</dd>
</dl>