<h2>Mum and Milo</h2>
<p>
  <a href="https://photos.philbooth.me/1628346169000-pennington-hampshire.jpg">
    <img alt="Mum and Milo" src="https://photos.philbooth.me/1628346169000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2021-08-07T14:22:49.000Z">7th August 2021</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>