<h2>View from Buckland Hill</h2>
<p>
  <a href="https://photos.philbooth.me/1629281782000-buckland-hill-powys.jpg">
    <img alt="View from Buckland Hill" src="https://photos.philbooth.me/1629281782000-buckland-hill-powys-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2021-08-18T10:16:22.000Z">18th August 2021</time></dd>
  <dt>Where:</dt><dd>Buckland Hill, Powys</dd>
</dl>