<h2>View from Buckland Hill</h2>
<p>
  <a href="https://photos.philbooth.me/1629439627000-buckland-hill-powys.jpg">
    <img alt="View from Buckland Hill" src="https://photos.philbooth.me/1629439627000-buckland-hill-powys-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2021-08-20T06:07:07.000Z">20th August 2021</time></dd>
  <dt>Where:</dt><dd>Buckland Hill, Powys</dd>
</dl>