<h2>Helenium Goldrausch</h2>
<p>
  <a href="https://photos.philbooth.me/1631274417000-pennington-hampshire.jpg">
    <img alt="Helenium Goldrausch" src="https://photos.philbooth.me/1631274417000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2021-09-10T11:46:57.000Z">10th September 2021</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>