<h2>Hibiscus</h2>
<p>
  <a href="https://photos.philbooth.me/1631881204000-pennington-hampshire.jpg">
    <img alt="Hibiscus" src="https://photos.philbooth.me/1631881204000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2021-09-17T12:20:04.000Z">17th September 2021</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>