<h2>Dahlias in pots</h2>
<p>
  <a href="https://photos.philbooth.me/1631371069000-pennington-hampshire.jpg">
    <img alt="Dahlias in pots" src="https://photos.philbooth.me/1631371069000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2021-09-11T14:37:49.000Z">11th September 2021</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>