<h2>Aster</h2>
<p>
  <a href="https://photos.philbooth.me/1633777438000-pennington-hampshire.jpg">
    <img alt="Aster" src="https://photos.philbooth.me/1633777438000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2021-10-09T11:03:58.000Z">9th October 2021</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>