<h2>Milo, in the mist on Pennington Common</h2>
<p>
  <a href="https://photos.philbooth.me/1633759378000-pennington-common-hampshire.jpg">
    <img alt="Milo, in the mist on Pennington Common" src="https://photos.philbooth.me/1633759378000-pennington-common-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2021-10-09T06:02:58.000Z">9th October 2021</time></dd>
  <dt>Where:</dt><dd>Pennington Common, Hampshire</dd>
</dl>