<h2>Bishop of Llandaff</h2>
<p>
  <a href="https://photos.philbooth.me/1634221335000-pennington-hampshire.jpg">
    <img alt="Bishop of Llandaff" src="https://photos.philbooth.me/1634221335000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2021-10-14T14:22:15.000Z">14th October 2021</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>