<h2>Milo, on Pennington Common</h2>
<p>
  <a href="https://photos.philbooth.me/1635922997000-pennington-common-hampshire.jpg">
    <img alt="Milo, on Pennington Common" src="https://photos.philbooth.me/1635922997000-pennington-common-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2021-11-03T07:03:17.000Z">3rd November 2021</time></dd>
  <dt>Where:</dt><dd>Pennington Common, Hampshire</dd>
</dl>