<h2>Milo, in Yaldhurst field</h2>
<p>
  <a href="https://photos.philbooth.me/1637682157000-pennington-hampshire.jpg">
    <img alt="Milo, in Yaldhurst field" src="https://photos.philbooth.me/1637682157000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2021-11-23T15:42:37.000Z">23rd November 2021</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>