<h2>Milo, sitting nicely in the armchair</h2>
<p>
  <a href="https://photos.philbooth.me/1638189659000-pennington-hampshire.jpg">
    <img alt="Milo, sitting nicely in the armchair" src="https://photos.philbooth.me/1638189659000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2021-11-29T12:40:59.000Z">29th November 2021</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>