<h2>Milo, sitting less nicely in the armchair</h2>
<p>
  <a href="https://photos.philbooth.me/1643533679000-pennington-hampshire.jpg">
    <img alt="Milo, sitting less nicely in the armchair" src="https://photos.philbooth.me/1643533679000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2022-01-30T09:07:59.000Z">30th January 2022</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>