<h2>Back wall, with trellis</h2>
<p>
  <a href="https://photos.philbooth.me/1648388421000-pennington-hampshire.jpg">
    <img alt="Back wall, with trellis" src="https://photos.philbooth.me/1648388421000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2022-03-27T13:40:21.000Z">27th March 2022</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>