<h2>Milo, guarding the barbecue</h2>
<p>
  <a href="https://photos.philbooth.me/1650739667000-pennington-hampshire.jpg">
    <img alt="Milo, guarding the barbecue" src="https://photos.philbooth.me/1650739667000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2022-04-23T18:47:47.000Z">23rd April 2022</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>