<h2>Azaleas in full bloom</h2>
<p>
  <a href="https://photos.philbooth.me/1651228130000-pennington-hampshire.jpg">
    <img alt="Azaleas in full bloom" src="https://photos.philbooth.me/1651228130000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2022-04-29T10:28:50.000Z">29th April 2022</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>