<h2>Milo, by the clematis</h2>
<p>
  <a href="https://photos.philbooth.me/1652974387000-pennington-hampshire.jpg">
    <img alt="Milo, by the clematis" src="https://photos.philbooth.me/1652974387000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2022-05-19T15:33:07.000Z">19th May 2022</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>