<h2>Milo, smelling the lupins</h2>
<p>
  <a href="https://photos.philbooth.me/1653759524000-pennington-hampshire.jpg">
    <img alt="Milo, smelling the lupins" src="https://photos.philbooth.me/1653759524000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2022-05-28T17:38:44.000Z">28th May 2022</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>