<h2>Milo, on the river bank</h2>
<p>
  <a href="https://photos.philbooth.me/1654237068000-penallt-monmouthshire.jpg">
    <img alt="Milo, on the river bank" src="https://photos.philbooth.me/1654237068000-penallt-monmouthshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2022-06-03T06:17:48.000Z">3rd June 2022</time></dd>
  <dt>Where:</dt><dd>Penallt, Monmouthshire</dd>
</dl>