<h2>View up Penallt Hill, from the bank of the River Wye</h2>
<p>
  <a href="https://photos.philbooth.me/1654236815000-penallt-monmouthshire.jpg">
    <img alt="View up Penallt Hill, from the bank of the River Wye" src="https://photos.philbooth.me/1654236815000-penallt-monmouthshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2022-06-03T06:13:35.000Z">3rd June 2022</time></dd>
  <dt>Where:</dt><dd>Penallt, Monmouthshire</dd>
</dl>