<h2>View from Penallt</h2>
<p>
  <a href="https://photos.philbooth.me/1654195203000-penallt-monmouthshire.jpg">
    <img alt="View from Penallt" src="https://photos.philbooth.me/1654195203000-penallt-monmouthshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2022-06-02T18:40:03.000Z">2nd June 2022</time></dd>
  <dt>Where:</dt><dd>Penallt, Monmouthshire</dd>
</dl>