<h2>View from Shirley Holmes</h2>
<p>
  <a href="https://photos.philbooth.me/1655014872000-sway-hampshire.jpg">
    <img alt="View from Shirley Holmes" src="https://photos.philbooth.me/1655014872000-sway-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2022-06-12T06:21:12.000Z">12th June 2022</time></dd>
  <dt>Where:</dt><dd>Sway, Hampshire</dd>
</dl>