<h2>Penstemon</h2>
<p>
  <a href="https://photos.philbooth.me/1656877249000-pennington-hampshire.jpg">
    <img alt="Penstemon" src="https://photos.philbooth.me/1656877249000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2022-07-03T19:40:49.000Z">3rd July 2022</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>