<h2>Early morning mist on Pennington Common</h2>
<p>
  <a href="https://photos.philbooth.me/1657428578000-pennington-common-hampshire.jpg">
    <img alt="Early morning mist on Pennington Common" src="https://photos.philbooth.me/1657428578000-pennington-common-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2022-07-10T04:49:38.000Z">10th July 2022</time></dd>
  <dt>Where:</dt><dd>Pennington Common, Hampshire</dd>
</dl>