<h2>Raised bed</h2>
<p>
  <a href="https://photos.philbooth.me/1657733027000-pennington-hampshire.jpg">
    <img alt="Raised bed" src="https://photos.philbooth.me/1657733027000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2022-07-13T17:23:47.000Z">13th July 2022</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>