<h2>Milo, in the garden</h2>
<p>
  <a href="https://photos.philbooth.me/1657451062000-pennington-hampshire.jpg">
    <img alt="Milo, in the garden" src="https://photos.philbooth.me/1657451062000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2022-07-10T11:04:22.000Z">10th July 2022</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>