<h2>Milo, guarding the barbecue</h2>
<p>
  <a href="https://photos.philbooth.me/1657301086000-pennington-hampshire.jpg">
    <img alt="Milo, guarding the barbecue" src="https://photos.philbooth.me/1657301086000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2022-07-08T17:24:46.000Z">8th July 2022</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>