<h2>Hemerocallis</h2>
<p>
  <a href="https://photos.philbooth.me/1657041007000-pennington-hampshire.jpg">
    <img alt="Hemerocallis" src="https://photos.philbooth.me/1657041007000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2022-07-05T17:10:07.000Z">5th July 2022</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>