<h2>Clematis Bernadine</h2>
<p>
  <a href="https://photos.philbooth.me/1658216918000-pennington-hampshire.jpg">
    <img alt="Clematis Bernadine" src="https://photos.philbooth.me/1658216918000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2022-07-19T07:48:38.000Z">19th July 2022</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>