<h2>View across Yaldhurst field</h2>
<p>
  <a href="https://photos.philbooth.me/1658381099000-pennington-hampshire.jpg">
    <img alt="View across Yaldhurst field" src="https://photos.philbooth.me/1658381099000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2022-07-21T05:24:59.000Z">21st July 2022</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>