<h2>Bishop of Leicester</h2>
<p>
  <a href="https://photos.philbooth.me/1661970585000-pennington-hampshire.jpg">
    <img alt="Bishop of Leicester" src="https://photos.philbooth.me/1661970585000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2022-08-31T18:29:45.000Z">31st August 2022</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>