<h2>Full moon over Yaldhurst field</h2>
<p>
  <a href="https://photos.philbooth.me/1662874060000-pennington-hampshire.jpg">
    <img alt="Full moon over Yaldhurst field" src="https://photos.philbooth.me/1662874060000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2022-09-11T05:27:40.000Z">11th September 2022</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>