<h2>Sunrise at Buckland Rings</h2>
<p>
  <a href="https://photos.philbooth.me/1662874918000-buckland-rings-hampshire.jpg">
    <img alt="Sunrise at Buckland Rings" src="https://photos.philbooth.me/1662874918000-buckland-rings-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2022-09-11T05:41:58.000Z">11th September 2022</time></dd>
  <dt>Where:</dt><dd>Buckland Rings, Hampshire</dd>
</dl>