<h2>Bishop of Leicester</h2>
<p>
  <a href="https://photos.philbooth.me/1662054786000-pennington-hampshire.jpg">
    <img alt="Bishop of Leicester" src="https://photos.philbooth.me/1662054786000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2022-09-01T17:53:06.000Z">1st September 2022</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>