<h2>Side bed</h2>
<p>
  <a href="https://photos.philbooth.me/1662135269000-pennington-hampshire.jpg">
    <img alt="Side bed" src="https://photos.philbooth.me/1662135269000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2022-09-02T16:14:29.000Z">2nd September 2022</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>