<h2>Miniature horses on Yaldhurst Lane</h2>
<p>
  <a href="https://photos.philbooth.me/1663565927000-pennington-hampshire.jpg">
    <img alt="Miniature horses on Yaldhurst Lane" src="https://photos.philbooth.me/1663565927000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2022-09-19T05:38:47.000Z">19th September 2022</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>