<h2>Sunrise over Buckland Farm</h2>
<p>
  <a href="https://photos.philbooth.me/1664603811000-lymington-hampshire.jpg">
    <img alt="Sunrise over Buckland Farm" src="https://photos.philbooth.me/1664603811000-lymington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2022-10-01T05:56:51.000Z">1st October 2022</time></dd>
  <dt>Where:</dt><dd>Lymington, Hampshire</dd>
</dl>