<h2>Bee on aster</h2>
<p>
  <a href="https://photos.philbooth.me/1666795789000-pennington-hampshire.jpg">
    <img alt="Bee on aster" src="https://photos.philbooth.me/1666795789000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2022-10-26T14:49:49.000Z">26th October 2022</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>