<h2>Aster</h2>
<p>
  <a href="https://photos.philbooth.me/1666795731000-pennington-hampshire.jpg">
    <img alt="Aster" src="https://photos.philbooth.me/1666795731000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2022-10-26T14:48:51.000Z">26th October 2022</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>