<h2>Phlox paniculata</h2>
<p>
  <a href="https://photos.philbooth.me/1667138112000-pennington-hampshire.jpg">
    <img alt="Phlox paniculata" src="https://photos.philbooth.me/1667138112000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2022-10-30T13:55:12.000Z">30th October 2022</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>