<h2>Polyanthus</h2>
<p>
  <a href="https://photos.philbooth.me/1668873877000-pennington-hampshire.jpg">
    <img alt="Polyanthus" src="https://photos.philbooth.me/1668873877000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2022-11-19T16:04:37.000Z">19th November 2022</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>