<h2>Rainbow over Ramley Farm</h2>
<p>
  <a href="https://photos.philbooth.me/1668528055000-pennington-hampshire.jpg">
    <img alt="Rainbow over Ramley Farm" src="https://photos.philbooth.me/1668528055000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2022-11-15T16:00:55.000Z">15th November 2022</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>