<h2>Milo on the ramparts at Buckland Rings</h2>
<p>
  <a href="https://photos.philbooth.me/1668236959000-lymington-hampshire.jpg">
    <img alt="Milo on the ramparts at Buckland Rings" src="https://photos.philbooth.me/1668236959000-lymington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2022-11-12T07:09:19.000Z">12th November 2022</time></dd>
  <dt>Where:</dt><dd>Buckland Rings, Hampshire</dd>
</dl>