<h2>Milo with a stick</h2>
<p>
  <a href="https://photos.philbooth.me/1672561751000-pennington-hampshire.jpg">
    <img alt="Milo with a stick" src="https://photos.philbooth.me/1672561751000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2023-01-01T08:29:11.000Z">1st January 2023</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>