<h2>Milo in the morning sunlight</h2>
<p>
  <a href="https://photos.philbooth.me/1677398394000-pennington-hampshire.jpg">
    <img alt="Milo in the morning sunlight" src="https://photos.philbooth.me/1677398394000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2023-02-26T07:59:54.000Z">26th February 2023</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>