<h2>Primroses</h2>
<p>
  <a href="https://photos.philbooth.me/1677570351000-pennington-hampshire.jpg">
    <img alt="Primroses" src="https://photos.philbooth.me/1677570351000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2023-02-28T07:45:51.000Z">28th February 2023</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>