<h2>Buckland Rings</h2>
<p>
  <a href="https://photos.philbooth.me/1678604687000-lymington-hampshire.jpg">
    <img alt="Buckland Rings" src="https://photos.philbooth.me/1678604687000-lymington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2023-03-12T07:04:47.000Z">12th March 2023</time></dd>
  <dt>Where:</dt><dd>Buckland Rings, Hampshire</dd>
</dl>