<h2>Milo power pose</h2>
<p>
  <a href="https://photos.philbooth.me/1678888800000-pennington-hampshire.jpg">
    <img alt="Milo power pose" src="https://photos.philbooth.me/1678888800000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2023-03-15T14:00:00.000Z">15th March 2023</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>