<h2>Primroses</h2>
<p>
  <a href="https://photos.philbooth.me/1679127960000-pennington-hampshire.jpg">
    <img alt="Primroses" src="https://photos.philbooth.me/1679127960000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2023-03-18T08:26:00.000Z">18th March 2023</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>