<h2>Buckland Rings</h2>
<p>
  <a href="https://photos.philbooth.me/1679208120000-lymington-hampshire.jpg">
    <img alt="Buckland Rings" src="https://photos.philbooth.me/1679208120000-lymington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2023-03-19T06:42:00.000Z">19th March 2023</time></dd>
  <dt>Where:</dt><dd>Buckland Rings, Hampshire</dd>
</dl>