<h2>Polyanthus</h2>
<p>
  <a href="https://photos.philbooth.me/1679753760000-pennington-hampshire.jpg">
    <img alt="Polyanthus" src="https://photos.philbooth.me/1679753760000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2023-03-25T14:16:00.000Z">25th March 2023</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>