<h2>Balkan Anemone</h2>
<p>
  <a href="https://photos.philbooth.me/1679746920000-pennington-hampshire.jpg">
    <img alt="Balkan Anemone" src="https://photos.philbooth.me/1679746920000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2023-03-25T12:22:00.000Z">25th March 2023</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>