<h2>Chaenomeles Japonica</h2>
<p>
  <a href="https://photos.philbooth.me/1679231040000-pennington-hampshire.jpg">
    <img alt="Chaenomeles Japonica" src="https://photos.philbooth.me/1679231040000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2023-03-19T13:04:00.000Z">19th March 2023</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>