<h2>Pussy willow</h2>
<p>
  <a href="https://photos.philbooth.me/1680673440000-pennington-hampshire.jpg">
    <img alt="Pussy willow" src="https://photos.philbooth.me/1680673440000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2023-04-05T05:44:00.000Z">5th April 2023</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>