<h2>Hawthorn blossom</h2>
<p>
  <a href="https://photos.philbooth.me/1681536660000-pennington-hampshire.jpg">
    <img alt="Hawthorn blossom" src="https://photos.philbooth.me/1681536660000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2023-04-15T05:31:00.000Z">15th April 2023</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>