<h2>Bluebells</h2>
<p>
  <a href="https://photos.philbooth.me/1682522460000-lymington-hampshire.jpg">
    <img alt="Bluebells" src="https://photos.philbooth.me/1682522460000-lymington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2023-04-26T15:21:00.000Z">26th April 2023</time></dd>
  <dt>Where:</dt><dd>Lymington, Hampshire</dd>
</dl>