<h2>Green alkanet</h2>
<p>
  <a href="https://photos.philbooth.me/1682748300000-lymington-hampshire.jpg">
    <img alt="Green alkanet" src="https://photos.philbooth.me/1682748300000-lymington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2023-04-29T06:05:00.000Z">29th April 2023</time></dd>
  <dt>Where:</dt><dd>Lymington, Hampshire</dd>
</dl>