<h2>Oilseed rape</h2>
<p>
  <a href="https://photos.philbooth.me/1682749380000-pennington-hampshire.jpg">
    <img alt="Oilseed rape" src="https://photos.philbooth.me/1682749380000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2023-04-29T06:23:00.000Z">29th April 2023</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>