<h2>Milo with toy</h2>
<p>
  <a href="https://photos.philbooth.me/1682532480000-pennington-hampshire.jpg">
    <img alt="Milo with toy" src="https://photos.philbooth.me/1682532480000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2023-04-26T18:08:00.000Z">26th April 2023</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>