<h2>Milo and gorse</h2>
<p>
  <a href="https://photos.philbooth.me/1682921640000-sway-hampshire.jpg">
    <img alt="Milo and gorse" src="https://photos.philbooth.me/1682921640000-sway-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2023-05-01T06:14:00.000Z">1st May 2023</time></dd>
  <dt>Where:</dt><dd>Sway, Hampshire</dd>
</dl>