<h2>African daisies</h2>
<p>
  <a href="https://photos.philbooth.me/1684676160000-pennington-hampshire.jpg">
    <img alt="African daisies" src="https://photos.philbooth.me/1684676160000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2023-05-21T13:36:00.000Z">21st May 2023</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>