<h2>Milo in Stinking Edge Wood</h2>
<p>
  <a href="https://photos.philbooth.me/1685255520000-burley-hampshire.jpg">
    <img alt="Milo in Stinking Edge Wood" src="https://photos.philbooth.me/1685255520000-burley-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2023-05-28T06:32:00.000Z">28th May 2023</time></dd>
  <dt>Where:</dt><dd>Burley, Hampshire</dd>
</dl>