<h2>Fledgling blue tit</h2>
<p>
  <a href="https://photos.philbooth.me/1685471640000-pennington-hampshire.jpg">
    <img alt="Fledgling blue tit" src="https://photos.philbooth.me/1685471640000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2023-05-30T18:34:00.000Z">30th May 2023</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>