<h2>Lupins</h2>
<p>
  <a href="https://photos.philbooth.me/1685094780000-pennington-hampshire.jpg">
    <img alt="Lupins" src="https://photos.philbooth.me/1685094780000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2023-05-26T09:53:00.000Z">26th May 2023</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>