<h2>View across Backley Plain</h2>
<p>
  <a href="https://photos.philbooth.me/1685253000000-burley-hampshire.jpg">
    <img alt="View across Backley Plain" src="https://photos.philbooth.me/1685253000000-burley-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2023-05-28T05:50:00.000Z">28th May 2023</time></dd>
  <dt>Where:</dt><dd>Burley, Hampshire</dd>
</dl>