<h2>Foxgloves in Soarley Beeches</h2>
<p>
  <a href="https://photos.philbooth.me/1686376980000-burley-hampshire.jpg">
    <img alt="Foxgloves in Soarley Beeches" src="https://photos.philbooth.me/1686376980000-burley-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2023-06-10T06:03:00.000Z">10th June 2023</time></dd>
  <dt>Where:</dt><dd>Burley, Hampshire</dd>
</dl>