<h2>Sir Dudley's Ride</h2>
<p>
  <a href="https://photos.philbooth.me/1686377760000-burley-hampshire.jpg">
    <img alt="Sir Dudley's Ride" src="https://photos.philbooth.me/1686377760000-burley-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2023-06-10T06:16:00.000Z">10th June 2023</time></dd>
  <dt>Where:</dt><dd>Burley, Hampshire</dd>
</dl>