<h2>Sunrise over Pennington Common</h2>
<p>
  <a href="https://photos.philbooth.me/1686456540000-pennington-hampshire.jpg">
    <img alt="Sunrise over Pennington Common" src="https://photos.philbooth.me/1686456540000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2023-06-11T04:09:00.000Z">11th June 2023</time></dd>
  <dt>Where:</dt><dd>Pennington Common, Hampshire</dd>
</dl>