<h2>Poppies and cornflowers by the pond</h2>
<p>
  <a href="https://photos.philbooth.me/1687946940000-pennington-hampshire.jpg">
    <img alt="Poppies and cornflowers by the pond" src="https://photos.philbooth.me/1687946940000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2023-06-28T10:09:00.000Z">28th June 2023</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>