<h2>Milo enjoys the wildflowers</h2>
<p>
  <a href="https://photos.philbooth.me/1688205180000-pennington-hampshire.jpg">
    <img alt="Milo enjoys the wildflowers" src="https://photos.philbooth.me/1688205180000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2023-07-01T09:53:00.000Z">1st July 2023</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>