<h2>Bee on corncockle flower</h2>
<p>
  <a href="https://photos.philbooth.me/1688719680000-pennington-hampshire.jpg">
    <img alt="Bee on corncockle flower" src="https://photos.philbooth.me/1688719680000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2023-07-07T08:48:00.000Z">7th July 2023</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>