<h2>Cosmos</h2>
<p>
  <a href="https://photos.philbooth.me/1690997820000-pennington-hampshire.jpg">
    <img alt="Cosmos" src="https://photos.philbooth.me/1690997820000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2023-08-02T17:37:00.000Z">2nd August 2023</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>