<h2>A hard day at the office</h2>
<p>
  <a href="https://photos.philbooth.me/1692795780000-pennington-hampshire.jpg">
    <img alt="A hard day at the office" src="https://photos.philbooth.me/1692795780000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2023-08-23T13:03:00.000Z">23rd August 2023</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>