<h2>Horses grazing in the morning sunlight at Wilverley Plain</h2>
<p>
  <a href="https://photos.philbooth.me/1693115100000-wilverley-hampshire.jpg">
    <img alt="Horses grazing in the morning sunlight at Wilverley Plain" src="https://photos.philbooth.me/1693115100000-wilverley-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2023-08-27T05:45:00.000Z">27th August 2023</time></dd>
  <dt>Where:</dt><dd>Wilverley, Hampshire</dd>
</dl>