<h2>Mile marker on the old Lymington Ridgeway, near Burley</h2>
<p>
  <a href="https://photos.philbooth.me/1693116240000-wilverley-hampshire.jpg">
    <img alt="Mile marker on the old Lymington Ridgeway, near Burley" src="https://photos.philbooth.me/1693116240000-wilverley-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2023-08-27T06:04:00.000Z">27th August 2023</time></dd>
  <dt>Where:</dt><dd>Wilverley, Hampshire</dd>
</dl>