<h2>Milo with a toy</h2>
<p>
  <a href="https://photos.philbooth.me/1693921080000-pennington-hampshire.jpg">
    <img alt="Milo with a toy" src="https://photos.philbooth.me/1693921080000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2023-09-05T13:38:00.000Z">5th September 2023</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>