<h2>View from Backley Holmes</h2>
<p>
  <a href="https://photos.philbooth.me/1694241360000-burley-hampshire.jpg">
    <img alt="View from Backley Holmes" src="https://photos.philbooth.me/1694241360000-burley-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2023-09-09T06:36:00.000Z">9th September 2023</time></dd>
  <dt>Where:</dt><dd>Burley, Hampshire</dd>
</dl>