<h2>Mexican sunflower</h2>
<p>
  <a href="https://photos.philbooth.me/1695806580000-pennington-hampshire.jpg">
    <img alt="Mexican sunflower" src="https://photos.philbooth.me/1695806580000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2023-09-27T09:23:00.000Z">27th September 2023</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>