<h2>Sunrise at Longslade</h2>
<p>
  <a href="https://photos.philbooth.me/1696402980000-sway-hampshire.jpg">
    <img alt="Sunrise at Longslade" src="https://photos.philbooth.me/1696402980000-sway-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2023-10-04T07:03:00.000Z">4th October 2023</time></dd>
  <dt>Where:</dt><dd>Sway, Hampshire</dd>
</dl>