<h2>Holly tree with berries on Hinchelsea Moor</h2>
<p>
  <a href="https://photos.philbooth.me/1696575840000-brockenhurst-hampshire.jpg">
    <img alt="Holly tree with berries on Hinchelsea Moor" src="https://photos.philbooth.me/1696575840000-brockenhurst-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2023-10-06T07:04:00.000Z">6th October 2023</time></dd>
  <dt>Where:</dt><dd>Brockenhurst, Hampshire</dd>
</dl>