<h2>Bishop of York</h2>
<p>
  <a href="https://photos.philbooth.me/1696840440000-pennington-hampshire.jpg">
    <img alt="Bishop of York" src="https://photos.philbooth.me/1696840440000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2023-10-09T08:34:00.000Z">9th October 2023</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>