<h2>Bishop of Llandaff</h2>
<p>
  <a href="https://photos.philbooth.me/1696077120000-pennington-hampshire.jpg">
    <img alt="Bishop of Llandaff" src="https://photos.philbooth.me/1696077120000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2023-09-30T12:32:00.000Z">30th September 2023</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>