<h2>Thunderhead behind Buckland Rings</h2>
<p>
  <a href="https://photos.philbooth.me/1698133740000-lymington-hampshire.jpg">
    <img alt="Thunderhead behind Buckland Rings" src="https://photos.philbooth.me/1698133740000-lymington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2023-10-24T07:49:00.000Z">24th October 2023</time></dd>
  <dt>Where:</dt><dd>Buckland Rings, Hampshire</dd>
</dl>