<h2>Autumn leaves at Buckland Rings</h2>
<p>
  <a href="https://photos.philbooth.me/1700380740000-lymington-hampshire.jpg">
    <img alt="Autumn leaves at Buckland Rings" src="https://photos.philbooth.me/1700380740000-lymington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2023-11-19T07:59:00.000Z">19th November 2023</time></dd>
  <dt>Where:</dt><dd>Buckland Rings, Hampshire</dd>
</dl>