<h2>Spider web</h2>
<p>
  <a href="https://photos.philbooth.me/1701502560000-pennington-hampshire.jpg">
    <img alt="Spider web" src="https://photos.philbooth.me/1701502560000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2023-12-02T07:36:00.000Z">2nd December 2023</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>