<h2>Coral trees with berries</h2>
<p>
  <a href="https://photos.philbooth.me/1702630200000-lymington-hampshire.jpg">
    <img alt="Coral trees with berries" src="https://photos.philbooth.me/1702630200000-lymington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2023-12-15T08:50:00.000Z">15th December 2023</time></dd>
  <dt>Where:</dt><dd>Lymington, Hampshire</dd>
</dl>