<h2>Sunrise at Lymington sea wall</h2>
<p>
  <a href="https://photos.philbooth.me/1706428980000-lymington-hampshire.jpg">
    <img alt="Sunrise at Lymington sea wall" src="https://photos.philbooth.me/1706428980000-lymington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-01-28T08:03:00.000Z">28th January 2024</time></dd>
  <dt>Where:</dt><dd>Lymington Sea Wall, Hampshire</dd>
</dl>