<h2>Snowdrop</h2>
<p>
  <a href="https://photos.philbooth.me/1706876100000-pennington-hampshire.jpg">
    <img alt="Snowdrop" src="https://photos.philbooth.me/1706876100000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-02-02T12:15:00.000Z">2nd February 2024</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>