<h2>Purple crocus</h2>
<p>
  <a href="https://photos.philbooth.me/1708258740000-pennington-hampshire.jpg">
    <img alt="Purple crocus" src="https://photos.philbooth.me/1708258740000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-02-18T12:19:00.000Z">18th February 2024</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>