<h2>Milo with a stick</h2>
<p>
  <a href="https://photos.philbooth.me/1710000240000-pennington-hampshire.jpg">
    <img alt="Milo with a stick" src="https://photos.philbooth.me/1710000240000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-03-09T16:04:00.000Z">9th March 2024</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>