<h2>Tulip Cabanna</h2>
<p>
  <a href="https://photos.philbooth.me/1711727760000-pennington-hampshire.jpg">
    <img alt="Tulip Cabanna" src="https://photos.philbooth.me/1711727760000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-03-29T15:56:00.000Z">29th March 2024</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>