<h2>Lady Tulip</h2>
<p>
  <a href="https://photos.philbooth.me/1711789980000-pennington-hampshire.jpg">
    <img alt="Lady Tulip" src="https://photos.philbooth.me/1711789980000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-03-30T09:13:00.000Z">30th March 2024</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>