<h2>Scots Pine near Wilverley Plain</h2>
<p>
  <a href="https://photos.philbooth.me/1711954140000-wilverley-hampshire.jpg">
    <img alt="Scots Pine near Wilverley Plain" src="https://photos.philbooth.me/1711954140000-wilverley-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-04-01T06:49:00.000Z">1st April 2024</time></dd>
  <dt>Where:</dt><dd>Wilverley, Hampshire</dd>
</dl>