<h2>WoodBlockX capping</h2>
<p>
  <a href="https://photos.philbooth.me/1711553160000-pennington-hampshire.jpg">
    <img alt="WoodBlockX capping" src="https://photos.philbooth.me/1711553160000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-03-27T15:26:00.000Z">27th March 2024</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>