<h2>Beer in the garden</h2>
<p>
  <a href="https://photos.philbooth.me/1711726860000-pennington-hampshire.jpg">
    <img alt="Beer in the garden" src="https://photos.philbooth.me/1711726860000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-03-29T15:41:00.000Z">29th March 2024</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>