<h2>View towards Rhinefield Wood from Wilverley Plain</h2>
<p>
  <a href="https://photos.philbooth.me/1711953420000-wilverley-hampshire.jpg">
    <img alt="View towards Rhinefield Wood from Wilverley Plain" src="https://photos.philbooth.me/1711953420000-wilverley-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-04-01T06:37:00.000Z">1st April 2024</time></dd>
  <dt>Where:</dt><dd>Wilverley, Hampshire</dd>
</dl>