<h2>Early morning mist on Hinchelsea Moor</h2>
<p>
  <a href="https://photos.philbooth.me/1711952760000-wilverley-hampshire.jpg">
    <img alt="Early morning mist on Hinchelsea Moor" src="https://photos.philbooth.me/1711952760000-wilverley-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-04-01T06:26:00.000Z">1st April 2024</time></dd>
  <dt>Where:</dt><dd>Wilverley, Hampshire</dd>
</dl>