<h2>WoodBlockX level 4</h2>
<p>
  <a href="https://photos.philbooth.me/1711301460000-pennington-hampshire.jpg">
    <img alt="WoodBlockX level 4" src="https://photos.philbooth.me/1711301460000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-03-24T17:31:00.000Z">24th March 2024</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>