<h2>Tulip Red Madonna</h2>
<p>
  <a href="https://photos.philbooth.me/1712405580000-pennington-hampshire.jpg">
    <img alt="Tulip Red Madonna" src="https://photos.philbooth.me/1712405580000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-04-06T12:13:00.000Z">6th April 2024</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>