<h2>Fruit cage</h2>
<p>
  <a href="https://photos.philbooth.me/1713635580000-pennington-hampshire.jpg">
    <img alt="Fruit cage" src="https://photos.philbooth.me/1713635580000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-04-20T17:53:00.000Z">20th April 2024</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>