<h2>Ceanothus and azalea</h2>
<p>
  <a href="https://photos.philbooth.me/1713982080000-pennington-hampshire.jpg">
    <img alt="Ceanothus and azalea" src="https://photos.philbooth.me/1713982080000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-04-24T18:08:00.000Z">24th April 2024</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>