<h2>Tulips in my lawn</h2>
<p>
  <a href="https://photos.philbooth.me/1713369300000-pennington-hampshire.jpg">
    <img alt="Tulips in my lawn" src="https://photos.philbooth.me/1713369300000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-04-17T15:55:00.000Z">17th April 2024</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>