<h2>Azalea Geisha Pink</h2>
<p>
  <a href="https://photos.philbooth.me/1713111720000-pennington-hampshire.jpg">
    <img alt="Azalea Geisha Pink" src="https://photos.philbooth.me/1713111720000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-04-14T16:22:00.000Z">14th April 2024</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>