<h2>Buttercups at Buckland Rings</h2>
<p>
  <a href="https://photos.philbooth.me/1714716000000-lymington-hampshire.jpg">
    <img alt="Buttercups at Buckland Rings" src="https://photos.philbooth.me/1714716000000-lymington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-05-03T06:00:00.000Z">3rd May 2024</time></dd>
  <dt>Where:</dt><dd>Buckland Rings, Hampshire</dd>
</dl>