<h2>Ceanothus</h2>
<p>
  <a href="https://photos.philbooth.me/1714813320000-pennington-hampshire.jpg">
    <img alt="Ceanothus" src="https://photos.philbooth.me/1714813320000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-05-04T09:02:00.000Z">4th May 2024</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>