<h2>Milo awaits glazed cabbage</h2>
<p>
  <a href="https://photos.philbooth.me/1716649560000-pennington-hampshire.jpg">
    <img alt="Milo awaits glazed cabbage" src="https://photos.philbooth.me/1716649560000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-05-25T15:06:00.000Z">25th May 2024</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>