<h2>Dog rose</h2>
<p>
  <a href="https://photos.philbooth.me/1717825620000-lymington-hampshire.jpg">
    <img alt="Dog rose" src="https://photos.philbooth.me/1717825620000-lymington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-06-08T05:47:00.000Z">8th June 2024</time></dd>
  <dt>Where:</dt><dd>Lymington, Hampshire</dd>
</dl>