<h2>Double rainbow over Ramley Farm</h2>
<p>
  <a href="https://photos.philbooth.me/1718427240000-pennington-hampshire.jpg">
    <img alt="Double rainbow over Ramley Farm" src="https://photos.philbooth.me/1718427240000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-06-15T04:54:00.000Z">15th June 2024</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>