<h2>Sweet yellow clover, cornflowers and corncockles</h2>
<p>
  <a href="https://photos.philbooth.me/1718651160000-pennington-hampshire.jpg">
    <img alt="Sweet yellow clover, cornflowers and corncockles" src="https://photos.philbooth.me/1718651160000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-06-17T19:06:00.000Z">17th June 2024</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>