<h2>Milo on Pennington Common</h2>
<p>
  <a href="https://photos.philbooth.me/1718473380000-pennington-hampshire.jpg">
    <img alt="Milo on Pennington Common" src="https://photos.philbooth.me/1718473380000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-06-15T17:43:00.000Z">15th June 2024</time></dd>
  <dt>Where:</dt><dd>Pennington Common, Hampshire</dd>
</dl>