<h2>Cornflowers, poppies and daisies</h2>
<p>
  <a href="https://photos.philbooth.me/1718453640000-pennington-hampshire.jpg">
    <img alt="Cornflowers, poppies and daisies" src="https://photos.philbooth.me/1718453640000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-06-15T12:14:00.000Z">15th June 2024</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>