<h2>Milo with a stick</h2>
<p>
  <a href="https://photos.philbooth.me/1718558940000-pennington-hampshire.jpg">
    <img alt="Milo with a stick" src="https://photos.philbooth.me/1718558940000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-06-16T17:29:00.000Z">16th June 2024</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>