<h2>Half moon and Douglas Firs</h2>
<p>
  <a href="https://photos.philbooth.me/1719553380000-brockenhurst-hampshire.jpg">
    <img alt="Half moon and Douglas Firs" src="https://photos.philbooth.me/1719553380000-brockenhurst-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-06-28T05:43:00.000Z">28th June 2024</time></dd>
  <dt>Where:</dt><dd>Blackwater, Hampshire</dd>
</dl>