<h2>Spider web on fence</h2>
<p>
  <a href="https://photos.philbooth.me/1719205740000-lymington-hampshire.jpg">
    <img alt="Spider web on fence" src="https://photos.philbooth.me/1719205740000-lymington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-06-24T05:09:00.000Z">24th June 2024</time></dd>
  <dt>Where:</dt><dd>Lymington, Hampshire</dd>
</dl>