<h2>Milo on Lymington sea wall</h2>
<p>
  <a href="https://photos.philbooth.me/1719381540000-lymington-hampshire.jpg">
    <img alt="Milo on Lymington sea wall" src="https://photos.philbooth.me/1719381540000-lymington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-06-26T05:59:00.000Z">26th June 2024</time></dd>
  <dt>Where:</dt><dd>Lymington Sea Wall, Hampshire</dd>
</dl>