<h2>Milo in front Sequoia sempervirens</h2>
<p>
  <a href="https://photos.philbooth.me/1721972040000-brockenhurst-hampshire.jpg">
    <img alt="Milo in front Sequoia sempervirens" src="https://photos.philbooth.me/1721972040000-brockenhurst-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-07-26T05:34:00.000Z">26th July 2024</time></dd>
  <dt>Where:</dt><dd>Brockenhurst, Hampshire</dd>
</dl>