<h2>Milo on barbecue duty</h2>
<p>
  <a href="https://photos.philbooth.me/1721406300000-pennington-hampshire.jpg">
    <img alt="Milo on barbecue duty" src="https://photos.philbooth.me/1721406300000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-07-19T16:25:00.000Z">19th July 2024</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>