<h2>Bishop of York, Bishop of Leicester</h2>
<p>
  <a href="https://photos.philbooth.me/1721468460000-pennington-hampshire.jpg">
    <img alt="Bishop of York, Bishop of Leicester" src="https://photos.philbooth.me/1721468460000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-07-20T09:41:00.000Z">20th July 2024</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>