<h2>Front garden wildflowers</h2>
<p>
  <a href="https://photos.philbooth.me/1722710820000-pennington-hampshire.jpg">
    <img alt="Front garden wildflowers" src="https://photos.philbooth.me/1722710820000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-08-03T18:47:00.000Z">3rd August 2024</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>