<h2>Rowan tree at Horseshoe Bottom</h2>
<p>
  <a href="https://photos.philbooth.me/1722577620000-brockenhurst-hampshire.jpg">
    <img alt="Rowan tree at Horseshoe Bottom" src="https://photos.philbooth.me/1722577620000-brockenhurst-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-08-02T05:47:00.000Z">2nd August 2024</time></dd>
  <dt>Where:</dt><dd>Brockenhurst, Hampshire</dd>
</dl>