<h2>Heather near Burley</h2>
<p>
  <a href="https://photos.philbooth.me/1723960020000-burley-hampshire.jpg">
    <img alt="Heather near Burley" src="https://photos.philbooth.me/1723960020000-burley-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-08-18T05:47:00.000Z">18th August 2024</time></dd>
  <dt>Where:</dt><dd>Burley, Hampshire</dd>
</dl>