<h2>Dahlia</h2>
<p>
  <a href="https://photos.philbooth.me/1723204320000-pennington-hampshire.jpg">
    <img alt="Dahlia" src="https://photos.philbooth.me/1723204320000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-08-09T11:52:00.000Z">9th August 2024</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>