<h2>Pennington Marsh</h2>
<p>
  <a href="https://photos.philbooth.me/1724910060000-lymington-hampshire.jpg">
    <img alt="Pennington Marsh" src="https://photos.philbooth.me/1724910060000-lymington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-08-29T05:41:00.000Z">29th August 2024</time></dd>
  <dt>Where:</dt><dd>Lymington Sea Wall, Hampshire</dd>
</dl>