<h2>Dead squid, courtesy of Southern Water</h2>
<p>
  <a href="https://photos.philbooth.me/1724910900000-lymington-hampshire.jpg">
    <img alt="Dead squid, courtesy of Southern Water" src="https://photos.philbooth.me/1724910900000-lymington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-08-29T05:55:00.000Z">29th August 2024</time></dd>
  <dt>Where:</dt><dd>Lymington Sea Wall, Hampshire</dd>
</dl>