<h2>Caterpillars eating my broccoli</h2>
<p>
  <a href="https://photos.philbooth.me/1724224140000-pennington-hampshire.jpg">
    <img alt="Caterpillars eating my broccoli" src="https://photos.philbooth.me/1724224140000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-08-21T07:09:00.000Z">21st August 2024</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>