<h2>Milo having a paddle</h2>
<p>
  <a href="https://photos.philbooth.me/1724997840000-brockenhurst-hampshire.jpg">
    <img alt="Milo having a paddle" src="https://photos.philbooth.me/1724997840000-brockenhurst-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-08-30T06:04:00.000Z">30th August 2024</time></dd>
  <dt>Where:</dt><dd>Brockenhurst, Hampshire</dd>
</dl>