<h2>Milo's tree</h2>
<p>
  <a href="https://photos.philbooth.me/1725429780000-brockenhurst-hampshire.jpg">
    <img alt="Milo's tree" src="https://photos.philbooth.me/1725429780000-brockenhurst-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-09-04T06:03:00.000Z">4th September 2024</time></dd>
  <dt>Where:</dt><dd>Brockenhurst, Hampshire</dd>
</dl>