<h2>Bishop of Llandaff</h2>
<p>
  <a href="https://photos.philbooth.me/1727973840000-pennington-hampshire.jpg">
    <img alt="Bishop of Llandaff" src="https://photos.philbooth.me/1727973840000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-10-03T16:44:00.000Z">3rd October 2024</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>