<h2>Rainbow over Hinchelsea Wood</h2>
<p>
  <a href="https://photos.philbooth.me/1729528680000-brockenhurst-hampshire.jpg">
    <img alt="Rainbow over Hinchelsea Wood" src="https://photos.philbooth.me/1729528680000-brockenhurst-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-10-21T16:38:00.000Z">21st October 2024</time></dd>
  <dt>Where:</dt><dd>Brockenhurst, Hampshire</dd>
</dl>