<h2>Bought Milo a new toy, it survived for about 12 minutes</h2>
<p>
  <a href="https://photos.philbooth.me/1731576420000-pennington-hampshire.jpg">
    <img alt="Bought Milo a new toy, it survived for about 12 minutes" src="https://photos.philbooth.me/1731576420000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-11-14T09:27:00.000Z">14th November 2024</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>