<h2>Snowy Milo</h2>
<p>
  <a href="https://photos.philbooth.me/1732202220000-brockenhurst-hampshire.jpg">
    <img alt="Snowy Milo" src="https://photos.philbooth.me/1732202220000-brockenhurst-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-11-21T15:17:00.000Z">21st November 2024</time></dd>
  <dt>Where:</dt><dd>Brockenhurst, Hampshire</dd>
</dl>