<h2>What is all this white stuff?</h2>
<p>
  <a href="https://photos.philbooth.me/1732183140000-pennington-hampshire.jpg">
    <img alt="What is all this white stuff?" src="https://photos.philbooth.me/1732183140000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-11-21T09:59:00.000Z">21st November 2024</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>