<h2>Frosty Milo</h2>
<p>
  <a href="https://photos.philbooth.me/1732088280000-brockenhurst-hampshire.jpg">
    <img alt="Frosty Milo" src="https://photos.philbooth.me/1732088280000-brockenhurst-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-11-20T07:38:00.000Z">20th November 2024</time></dd>
  <dt>Where:</dt><dd>Brockenhurst, Hampshire</dd>
</dl>