<h2>Sunrise from Longslade Heath</h2>
<p>
  <a href="https://photos.philbooth.me/1732780020000-brockenhurst-hampshire.jpg">
    <img alt="Sunrise from Longslade Heath" src="https://photos.philbooth.me/1732780020000-brockenhurst-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-11-28T07:47:00.000Z">28th November 2024</time></dd>
  <dt>Where:</dt><dd>Longslade, Hampshire</dd>
</dl>