<h2>Ralph and Milo</h2>
<p>
  <a href="https://photos.philbooth.me/1733921820000-pennington-hampshire.jpg">
    <img alt="Ralph and Milo" src="https://photos.philbooth.me/1733921820000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-12-11T12:57:00.000Z">11th December 2024</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>