<h2>Milo and Ralph</h2>
<p>
  <a href="https://photos.philbooth.me/1734436860000-pennington-hampshire.jpg">
    <img alt="Milo and Ralph" src="https://photos.philbooth.me/1734436860000-pennington-hampshire-672.jpg" />
  </a>
</p>
<dl>
  <dt>Date:</dt><dd><time datetime="2024-12-17T12:01:00.000Z">17th December 2024</time></dd>
  <dt>Where:</dt><dd>Pennington, Hampshire</dd>
</dl>