{{#each stats}}
<section class="section">
  <h3 class="section-title">{{title}}</h3>

  {{> activity}}
</section>
{{/each}}

{{#each charts}}
<div class="section">
  {{> chart}}
</div>
{{/each}}

<ul>
{{#each activities}}
  <li class="section">
    <article>
      <h3 class="detail"><a href="{{url}}">{{time}}</a></h3>

      {{> activity}}
    </article>
  </li>
{{/each}}
</ul>
