{{#if gitlab}}
<section class="section">
  <h3 class="section-title">My stuff</h3>

  <ul>
{{#each gitlab}}
  {{> repo}}
{{/each}}
  </ul>
</section>
{{/if}}

{{#if github}}
<section class="section">
  <h3 class="section-title">Other people's stuff</h3>

  <ul>
{{#each github}}
  {{> repo}}
{{/each}}
  </ul>
</section>
{{/if}}
