    <address>
      <dl>
        <dt class="visually-hidden">Address:</dt><dd class="break-below undo-indent"><em>{{address}}</em></dd>
        <dt>Phone:</dt><dd><a href="tel:{{{phone}}}">{{phoneFormatted}}</a></dd>
        <dt>Email:</dt><dd><a href="mailto:{{{email}}}">{{email}}</a></dd>
        <dt>Website:</dt><dd><a href="{{{website}}}">{{website}}</a></dd>
      </dl>
    </address>

{{#with intro}}
    <p>{{recruiter}}</p>
    <p>{{manager}}</p>
    <p>{{peers}}</p>
{{/with}}

    <section>
      <h2>Employment</h2>

{{#each jobs}}
        <li>
          <article>
            <h3>{{employer}}: {{location}}</h3>
            <p class="no-break-below">
              <em>
                {{jobTitle}}:
                <time datetime="{{timeFrom}}">{{timeFromFormatted}}</time>
                -
{{#if timeUntil}}
                <time datetime=${{timeUntil}}">{{timeUntilFormatted}}</time>
{{else}}
                present
{{/if}}
              </em>
            </p>
            <p>Technologies: {{tech}}</p>
{{#each description}}
            <p>{{{.}}}</p>
{{/each}}
          </article>
        </li>
{{/each}}
      </ul>
    </section>

    <section>
      <h2>Projects</h2>

      <ul>
{{#each projects}}
        <li>
          <section>
            <h3><a href="{{{link}}}">{{title}}</a></h3>
            <p>{{description}}</p>
          </section>
        </li>
{{/each}}
      </ul>
    </section>
