    <header class="clearfix">
      <h1>{{title}}</h1>
      <p class="tagline">{{tagline}}</p>
      <p><strong>Train</strong> {{train}}</p>
      <p><strong>Updated</strong> <abbr title="{{time}}">{{vagueTime}}</abbr></p>
    </header>

{{#if notification}}
{{#with notification}}
    <div class="notification">
      <p class="{{type}}">{{{message}}}</p>
      <p><em>-- {{from}}, {{date}}</em></p>
    </div>
{{/with}}
{{/if}}

{{#each servers}}
    <section class="panel clearfix">
      <h2 id="{{slug}}" class="section-header"><a class="section-link" href="#{{slug}}"> </a>{{name}} server</h2>

      <dl>
        <dt>Train:</dt><dd>{{train}}</dd>
        <dt>Patch:</dt><dd>{{patch}}</dd>
        <dt>Updated:</dt><dd><abbr title="{{time}}">{{vagueTime}}</abbr></dd>
        <dt>Repo:</dt><dd><a href="https://github.com/{{repo}}">{{repo}}</a></dd>
        <dt>Tag:</dt><dd><a href="https://github.com/{{repo}}/tree/{{tag}}">{{tag}}</a></dd>
        <dt>Commit:</dt><dd><a href="https://github.com/{{repo}}/commit/{{commit}}">{{commitShort}}</a></dd>
      </dl>
    </section>
{{/each}}

{{#if hasDates}}
    <section class="double-panel">
      <h2 id="deployments" class="section-header"><a class="section-link" href="#deployments"> </a>Deployments (± 30 minutes)</h2>

      <dl>
{{#each dates}}
        <dt>{{time}}:</dt>
        <dd>
{{#if hasAnnotations}}
{{#each annotations}}
          <span class="annotation {{emotion}}">{{{message}}}</span>
{{/each}}
{{/if}}
          {{{serversMarkup}}}
        </dd>
{{/each}}
      </dl>
    </section>
{{/if}}
