<p>
  Greetings, biped!
</p>

<p>
  You have reached the website of Phil Booth,
  chief poo-carrier and manservant for
  us, <a href="/photos?tag=Milo">Milo Slobberchops</a>
  and <a href="/photos?tag=Ralph">Ralph Wrigglepants</a>.
</p>

<section>
  <h3 class="section-title">About Phil</h3>

  <p>
    When he's not busy collecting our poo into small plastic bags,
    Phil is allowed to moonlight as a software engineer.
    Currently he works on backend stuff
    at <a href="https://qatalog.com/">Qatalog</a>.
    Before that he was part of
    the <a href="https://github.com/mozilla/fxa">Firefox Accounts</a> team at Mozilla,
    and before <em>that</em> he worked on
    <a href="https://github.com/springernature/webpagetest-mapper">web performance</a>
    <a href="https://github.com/springernature/boomcatch">stuff</a>
    at Nature.
  </p>

  <p>
    In rare moments of spare time,
    Phil enjoys <a href="/photos?tag=Garden">gardening</a>
    and hacking on <a href="/code">side-projects</a>.
    He babbles incomprehensibly
    <a href="https://bsky.app/profile/philbooth.me">on Bluesky</a>
    and <a href="/blog">his blog</a>.
    Occasionally he logs half-hearted, sweaty exercise sessions
    <a href="https://www.strava.com/athletes/2864743">on Strava</a>.
  </p>
</section>
{{#if events}}
<section>
  <h3 class="section-title">What has Phil been up to lately?</h3>

  <ul>
{{#each events}}
    <li>
      <article>
      <h4 class="no-space-below">
        <strong>Last {{type}}:</strong>
        {{#if url}}<a href="{{url}}">{{/if}}{{what}}{{#if url}}</a>{{/if}}
        {{#if whom}} by {{#if whomUrl}}<a href="{{whomUrl}}">{{/if}}{{whom}}{{#if whomUrl}}</a>{{/if}}{{/if}}
      </h4>

        <dl>
{{#if where}}
          <dt>Where:</dt><dd>{{where}}</dd>
{{/if}}
          <dt>When:</dt><dd>{{when}}</dd>
        </dl>
      </article>
    </li>
{{/each}}
  </ul>
</section>
{{/if}}
