<h2>Bye Dad</h2>
<!-- personal -->
<p class="article-time"><em><time datetime="2018-06-17T11:21:34.715Z">17<sup>th</sup> June 2018</time></em></p>
<p><img src="https://assets.philbooth.me/images/dad-672.jpg" alt="Phil and his Dad sharing a drink, Boxing Day 2016" /></p>
<div class="centered">
  <p>Richard Charles Maxwell Booth</p>
  <p><em>25<sup>th</sup> June 1948</em> - <em>17<sup>th</sup> June 2018</em></p>
</div>
