<h2>Passing the WSET Level 2 Award in Wines and Spirits</h2>
<!-- wine wset personal -->
<p class="article-time"><em><time datetime="2019-01-05T12:17:39.773Z">5<sup>th</sup> January 2019</time></em></p>
<p>Recently I sat my WSET level 2
and did pretty well.
I scored 90% in the exam,
which is a pass with distinction.
Based on that experience,
these are my tips
for anyone else planning
to take the course.</p>
<p><img src="https://assets.philbooth.me/images/wset-level2-672.jpg" alt="Result letter for the WSET level 2, showing a 90% result" /></p>
<p>Before it begins,
you will be sent copies of
the textbook, workbook
and a lexicon of terms to use during tastings.
The workbook suggests
you'll need to do
at least 28 hours of home study
in addition to the classroom sessions
and you should definitely be prepared
for that aspect.
None of the subject matter
is difficult to learn
in and of itself,
but there is a lot of it
and your best weapon
is to be well prepared.</p>
<p>If you can make the time,
try to read the entire textbook cover-to-cover
before you attend the first session.
The subject matter can be quite dry in parts,
so you'll probably want to spread this out
over a number of days.
There are 20 chapters in total
and covering 3 or 4 chapters a day
can be achieved quite easily,
so setting aside a week for this
is a fair estimate.</p>
<p>Even better than reading the textbook, though,
is to know as much as possible <em>organically</em>
before you begin.
This advice may seem unhelpful
but during my course,
some of the other students
mentioned in passing
that they'd never tasted a Riesling.
When you're trying to memorise facts
about more than 30 different grapes,
the regions they're grown in
and all of the different wines
that are made from them,
it really helps
to have a visceral knowledge
of as many as possible.
Remembering the difference between
Rieslings from Rheingau and Mosel,
for instance,
is much easier to do
when you can recall the taste of Rieslings
from personal experience.
Spending time trying unfamiliar wines
before you start the course
will really pay off
and hey,
who doesn't enjoy drinking more wine?</p>
<p>The workbook is provided for you
to take notes during the sessions
but actually I didn't find it that helpful
having done the preparation.
I preferred to focus all my attention
on listening to our instructor,
lest I miss some of the detail
in what was said.
Your mileage may vary of course,
but if you've already done the prep
you should be able to treat the actual sessions
more like a top-up to your base learning.</p>
<p>It's important not to dismiss
any of the less prominent sections,
such as grape-growing, food-pairing or social responsibility.
There will be questions on them
and they won't always have obvious answers.
If you treat those topics as seriously
as you do the chapters on actual wines and spirits,
it will earn you extra points come exam time.</p>
<p>Regardless of how much you study, though,
nothing is going to prepare you for
some of the more ambiguous questions
that you'll encounter in the exam.
You shouldn't worry too much about this
because most of them are very straightforward,
but there will definitely be
a few curve balls thrown in too.
If you want to get as close to 100% as possible,
you should be ready for these.
The best approach is
to try and discount
the obviously wrong answers first.
Then make sure you weigh up
every single word in the question
against the remaining answers.
There will be a clue somewhere,
perhaps in the presence of just a single word
like &quot;aged&quot; or the name of a region.</p>
<p>Lastly,
make sure you use the textbook
as your canonical source of truth.
Some of the topics are simplified,
which is reflected in the exam questions.
If you're also learning from other sources,
they may have a more detailed, nuanced take,
which can seem to contradict
the black-and-white nature
of a multiple choice exam.</p>
