<h2>2018 retrospective</h2>
<!-- reviews mozilla fxa personal -->
<p class="article-time"><em><time datetime="2019-01-20T19:10:45.026Z">20<sup>th</sup> January 2019</time></em></p>
<p>Time passes
and it's easy to forget
about all the cool stuff you did
or lessons you learned.
But source control makes it easy
to go back and remind yourself,
so I thought I'd take a moment
to look back and summarise
my past year in code.</p>
<h3>January</h3>
<p>January kicked things off
with some improvements to
our Redis abstraction
and a number of small fixes
to the Firefox Accounts metrics infrastructure.</p>
<p>In <a href="https://github.com/mozilla/fxa-auth-server/pull/2254">mozilla/fxa-auth-server#2254</a>,
I changed the serialisation format
of the session token data
that we store in Redis,
reducing the average payload size by about 16%.
The approach I took
was to use arrays with fixed indices
so that we could stop
paying for property keys.
I also investigated storing gzipped data instead,
but felt that the loss of
eyeballability of the data at rest
wasn't worth the ~25% reduction in size
it would have garnered.</p>
<p>That work was then continued in <a href="https://github.com/mozilla/fxa-auth-server/pull/2257">mozilla/fxa-auth-server#2257</a>,
where I added code
to prune expired session tokens from Redis.
Together,
these two changes
solved a real operational problem
we were suffering from,
where we had to keep scaling up
the size of our Redis instance
and our costs were going up commensurately.</p>
<p>In <a href="https://github.com/mozilla/fxa-amplitude-send/pull/38">mozilla/fxa-amplitude-send#38</a>,
I wrote a script to import FxA marketing events to Amplitude,
so they could be analysed alongside
the rest of our product metrics.
It entailed some fairly <a href="https://github.com/mozilla/fxa-amplitude-send/pull/38/files#diff-65b2cde4fe6b778426eeb027497fa9dfR172">hairy regex</a> work
and, as ever,
we made sure not to send
personally-identifiable information to 3rd-party services.
That extends as far as
<a href="https://github.com/mozilla/fxa-amplitude-send/pull/38/files#diff-65b2cde4fe6b778426eeb027497fa9dfR133">hashing our own uid</a>
prior to sending,
to make it impossible for anyone
to cross-reference metrics data
with information from our production database.
We do this even though
production db access is locked down
to just a few members
of our Ops team.</p>
<p>In all,
there were 16 notable changesets
in January:</p>
<ul>
<li><a href="https://gitlab.com/philbooth/please-release-me/commit/9a6474e57340b53f4cede42a1a6e60a4f808af38">break(output): clearer delineation of change types in the summary</a></li>
<li><a href="https://github.com/mozilla/fxa-content-server/pull/5819">fix(tests): fix failing amplitude geolocation tests</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2253">fix(tests): fix failing geolocation tests</a></li>
<li><a href="https://github.com/mozilla/fxa-content-server/pull/5822">fix(metrics): ditch the non-useful performance flow events</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2254">feat(redis): eliminate property names from redis-stored tokens</a></li>
<li><a href="https://github.com/mozilla/fxa-geodb/pull/31">fix(tests): update tests to use a working ip address</a></li>
<li><a href="https://github.com/mozilla/fxa-geodb/pull/32">feat(api): return location object directly instead of in a promise</a></li>
<li><a href="https://github.com/mozilla/fxa-amplitude-send/pull/37">fix(zlib): flush the zlib decompressor</a></li>
<li><a href="https://github.com/mozilla/fxa-amplitude-send/pull/38">feat(marketing): add script for sending marketing events from csv data</a></li>
<li><a href="https://github.com/mozilla/fxa-content-server/pull/5835">fix(tests): ensure consistent Date.now() in _calculateQueueTime test</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2257">feat(redis): prune expired session tokens from redis</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-db-mysql/pull/296">fix(scripts): add SET NAMES to reverse migration boilerplate</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2261">fix(redis): pack redis tokens inside db.deleteSessionToken</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-db-mysql/pull/298">feat(devices): return session token id from deleteDevice</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2267">fix(metrics): ensure amplitude events always have a metrics context</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2270">fix(redis): delete session tokens from redis in db.deleteDevice</a></li>
</ul>
<h3>February</h3>
<p>In February I went on holiday to Barbados!</p>
<p><img src="https://assets.philbooth.me/images/barbados-sunset-672.jpg" alt="Sunset at Drill Hall Beach, Bridgetown, Barbados" /></p>
<p>But before that,
I also managed
to get some coding done.
Again it was mostly metrics-related,
althought none of it hugely interesting.</p>
<p>In <a href="https://github.com/mozilla/fxa-amplitude-send/pull/47">mozilla/fxa-amplitude-send#47</a>,
I wrote a script to import
a Sync <code>complete</code> event to Amplitude
from Firefox telemetry data.
But, as it stands,
we still haven't enabled this in production
because it generates a lot of events
and needs more metadata
to be really useful.</p>
<p>And in <a href="https://github.com/mozilla/fxa-auth-server/pull/2282">mozilla/fxa-auth-server#2282</a>,
I eliminated some duplication
that achieved a net deletion
of 620 lines of code.
I love deleting code
even more than I love writing it!</p>
<p>February saw 20 changesets
in total:</p>
<ul>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2281">chore(ci): stop setting USE_REDIS in the test invocations</a></li>
<li><a href="https://github.com/mozilla/fxa-content-server/pull/5880">fix(metrics): emit amplitude click events earlier</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2282">chore(code): eliminate duplicate pool and db modules</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2283">chore(emails): remove all verification reminder code</a></li>
<li><a href="https://github.com/mozilla/fxa-content-server/pull/5881">fix(cad): hide the success message after direct navigation</a></li>
<li><a href="https://github.com/rum-diary/speed-trap/pull/15">fix(navtiming): ensure negative values aren't reported</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2290">fix(api): make authentication required on GET /account/profile</a></li>
<li><a href="https://gitlab.com/philbooth/bfj/commit/9fe21ffc7f27edef8a4194ffe24a1476824ea577">fix(walk): handle stream errors sanely</a></li>
<li><a href="https://github.com/mozilla/fxa-content-server/pull/5905">fix(errors): ensure that toError always behaves sanely</a></li>
<li><a href="https://gitlab.com/philbooth/bfj/commit/bfdf152ef055f2ccaf1a6d5d2d22265642113f3f">fix(docs): document the pause and resume functions on event emitters</a></li>
<li><a href="https://gitlab.com/philbooth/please-release-me/commit/e9367580d456de5e66fe35b8b375f9567146c050">fix(script): show sub-headings in git tag comment</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2303">chore(emails): delete bin/mailer_server.js</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2307">chore(logging): downgrade redis.watch.conflict to warning level</a></li>
<li><a href="https://github.com/mozilla/fxa-amplitude-send/commit/aa8f682cbdb756e4a6ad5f344c49b0719023f1af">feat(sync): add a --report-only command-line switch to aid debugging</a></li>
<li><a href="https://github.com/mozilla/fxa-amplitude-send/commit/d0446aa8e5c56aa3b2577002fc48d3adb190d095">feat(sync): more detailed logging of the final event counts</a></li>
<li><a href="https://github.com/mozilla/fxa-content-server/pull/5924">fix(metrics): treat enter-email as an &quot;auth&quot; view for flow events</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2316">fix(redis): delete clashing tokens from redis in createSessionToken</a></li>
<li><a href="https://github.com/mozilla/fxa-amplitude-send/commit/b0b169f4df9c4b7bb654ad86a7aac748ad5983cb">chore(lint): fix lint errors</a></li>
<li><a href="https://github.com/mozilla/fxa-amplitude-send/commit/b279d2e71c8b32a98d85f00d770e69c27b91f3b2">fix(sync): time should be epoch-milliseconds</a></li>
<li><a href="https://github.com/mozilla/fxa-amplitude-send/pull/47">feat(sync): send sync_complete event to amplitude</a></li>
</ul>
<h3>March</h3>
<p>March saw fixes
for a couple of interesting
security vulnerabilities.</p>
<p>In <a href="https://github.com/mozilla/fxa-auth-server/commit/8da511c82c8f4e8f2be03f689956101daff162e6">mozilla/fxa-auth-server#8da511c8</a>
and <a href="https://github.com/mozilla/fxa-content-server/commit/e73873cd6c1500cb438930a622b75f44f2ebbfff">mozilla/fxa-content-server#e73873cd</a>,
I added safeguards
to prevent unescaped input
reaching our back-end
via the user agent string.
The user agent parser we use
includes some regexes that propagate
parts of the input string
to the output.
The new safeguards ensure that
such input gets dropped
at point of entry.
Unfortunately the contextual discussion
for this vulnerability
is not public,
but people with appropriate permissions
can read more
in <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1445629">bug 1445629</a>.</p>
<p>In <a href="https://github.com/mozilla/fxa-auth-server/pull/2368">mozilla/fxa-auth-server#2368</a>,
I wrote a <code>SafeUrl</code> class
to ensure our communication
with other back-end services
did not leave us open
to a node.js request-splitting exploit.
Also related to this
were some small validation fixes
in <a href="https://github.com/mozilla/fxa-auth-server/pull/2359">mozilla/fxa-auth-server#2359</a>
and <a href="https://github.com/mozilla/fxa-content-server/pull/5996">mozilla/fxa-content-server#5996</a>.
The discussion around these changes
can be found in <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=1447452">bug 1447452</a>.</p>
<p>Elsewhere, in <a href="https://gitlab.com/philbooth/bfj/commit/e2e320dbf058f337dd58b692ac6d7d2ecbe651aa">philbooth/bfj#e2e320db</a>,
I added a nice feature
that allows JSON streams
to be asynchronously parsed
for interesting subtrees,
without needing to load the entire tree
into memory.
I blogged more about this feature
<a href="/blog/parsing-individual-data-items-from-huge-json-streams-in-nodejs">here</a>.</p>
<p>March changesets:</p>
<ul>
<li><a href="https://github.com/mozilla/fxa-webpagetest-driver/commit/fbadc4c268e8180f65225fae9489a83f51994984">feat(script): rough outline for driver/import script</a></li>
<li><a href="https://github.com/rum-diary/speed-trap/pull/16">fix(navtiming): stop assigning to w.p.t.navigationStart</a></li>
<li><a href="https://github.com/mozilla/fxa-webpagetest-settings/commit/cdda5b02cc4c5ce6f9ac1cc574d982f6cb89ec0c">feat(settings): basic ini files</a></li>
<li><a href="https://github.com/mozilla/fxa/pull/287">fix(docs): update dev-process docs with new meeting schedule</a></li>
<li><a href="https://github.com/mozilla/fxa/pull/288">fix(docs): expand on the release-tagging process</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2342">fix(metrics): ensure service is set when possible on amplitude events</a></li>
<li><a href="https://github.com/mozilla/fxa-content-server/pull/5982">feat(metrics): emit view, engage &amp; submit events for CAD</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/commit/8da511c82c8f4e8f2be03f689956101daff162e6">fix(emails): prevent unsafe content from reaching rendered email body</a></li>
<li><a href="https://gitlab.com/philbooth/bfj/commit/e87672a505df2e4c34fd9ac1dc424c856310c6d8">feat(walk): add support for NDJSON streams</a></li>
<li><a href="https://gitlab.com/philbooth/bfj/commit/90b61c6e4cda2ddae67aaa9ad50f798721976cae">fix(unpipe): prohibit unpipe from setting the ndjson option</a></li>
<li><a href="https://github.com/mozilla/fxa-amplitude-send/pull/57">feat(fxa): map content server flow data to amplitude</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2356">fix(metrics): include full version information in event data</a></li>
<li><a href="https://github.com/mozilla/fxa-content-server/pull/5995">fix(metrics): include full version information in amplitude event data</a></li>
<li><a href="https://github.com/mozilla/fxa-content-server/pull/5996">fix(server): validate ip addresses before use</a></li>
<li><a href="https://github.com/mozilla/fxa-customs-server/pull/231">chore(deps): update ip-reputation-js-client</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2359">fix(server): validate ip addresses before setting them on request object</a></li>
<li><a href="https://github.com/mozilla/fxa-content-server/commit/e73873cd6c1500cb438930a622b75f44f2ebbfff">fix(server): ensure unsafe input doesn't leak from user-agent strings</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2363">fix(sessions): only return major rev for browser version</a></li>
<li><a href="https://gitlab.com/philbooth/bfj/commit/e2e320dbf058f337dd58b692ac6d7d2ecbe651aa">feat(match): implement a streaming match api</a></li>
<li><a href="https://github.com/mozilla/fxa-content-server/pull/6008">fix(metrics): ensure CAD view and engage events are correct</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2368">chore(db): prevent the possibility of future url-injection bugs</a></li>
<li><a href="https://github.com/mozilla/fxa-content-server/pull/6003">fix(metrics): use $append on the experiments user property</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2372">feat(metrics): add user properties for active device counts</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2373">fix(metrics): emit route flow events from more endpoints</a></li>
<li><a href="https://github.com/mozilla/fxa-content-server/pull/6008">fix(metrics): ensure CAD view and engage events are correct</a></li>
<li><a href="https://github.com/mozilla/fxa-content-server/pull/6012">feat(metrics): add an email_domain property to amplitude click events</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2378">fix(metrics): count 28 days per metric month</a></li>
<li><a href="https://gitlab.com/philbooth/bfj/commit/419ddaeed59300e88f0502574419b030f64caa36">break(walk): distinguish between syntax and operational errors</a></li>
<li><a href="https://gitlab.com/philbooth/bfj/commit/626f755301ddc19c71cfb5067f8ebcb0d59cccd1">feat(streams): expose a highWaterMark option</a></li>
<li><a href="https://gitlab.com/philbooth/bfj/commit/0a32090a7d3b0279b73a1a9fac6a451c9df17ddd">chore(docs): note the end of node-4 maintenance</a></li>
<li><a href="https://gitlab.com/philbooth/bfj/commit/e7bc23d8ca92f12e7ad2593fcbd1ffeaf31c91b8">break(eventify): distinguish between syntax and operational errors</a></li>
</ul>
<h3>April</h3>
<p>In April,
I started work on <a href="https://github.com/mozilla/fxa-email-service">mozilla/fxa-email-service</a>,
which would prove to be
my main focus
for most of the year.
It was a rare opportunity
for some greenfield development
on Firefox Accounts
and a chance for me
to drive a project
from start to finish.</p>
<p>The rationale behind the work
was to decouple our authentication server
from Amazon SES.
That would open up the possibility
of richer bounce-handling behaviour
and let us fall back to alternative email providers
for problematic domains or addresses.</p>
<p>The most enjoyable aspect for me
was that it was to be written in Rust.
Learning Rust
was the best part of my job in 2018
and a direction I'm keen to pursue further
in the future.</p>
<p>Apart from that,
there was one interesting feature
in <a href="https://github.com/mozilla/fxa-auth-server/pull/2401">mozilla/fxa-auth-server#2401</a>,
where I added logic to check
the available budget for Amazon SNS
before deciding whether to display
our &quot;Connect Another Device&quot; form
after a user signs in to FxA.
We'd found ourselves
running out of SMS budget in production
a few times,
which led to a poor user experience
when the Firefox install link
that we send out via text message
failed to send.
Detecting that state ahead of time
allowed us to provide
a more coherent user experience.</p>
<p>April changesets:</p>
<ul>
<li><a href="https://gitlab.com/philbooth/bfj/commit/f10902a19f9677c220d50bbef8abf528d651ae2f">chore(tests): delete unused var</a></li>
<li><a href="https://gitlab.com/philbooth/bfj/commit/af15939cc78984048d217e75014ad772803c0971">feat(match): pass a depth argument to selector predicates</a></li>
<li><a href="https://github.com/mozilla/fxa-shared/pull/17">chore(tests): migrate from tap to mocha+chai</a></li>
<li><a href="https://github.com/mozilla/fxa-shared/pull/18">feat(email): define array of popular email domains</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2380">chore(emails): use popular email domain list from fxa-shared</a></li>
<li><a href="https://github.com/mozilla/fxa-content-server/pull/6019">chore(emails): use popular email domain list from fxa-shared</a></li>
<li><a href="https://github.com/mozilla/fxa-content-server/commit/399dbb01b2bf410ea8bdf95486b794f51ed654a8">fix(server): fix broken require path</a></li>
<li><a href="https://github.com/mozilla/fxa-content-server/pull/6021">fix(metrics): add locale to flow events</a></li>
<li><a href="https://github.com/mozilla/fxa-shared/pull/20">feat(metrics): extract common code for emitting amplitude events</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2384">refactor(metrics): use boiler-plate amplitude code from fxa-shared</a></li>
<li><a href="https://github.com/mozilla/fxa-content-server/pull/6022">refactor(metrics): use boiler-plate amplitude code from fxa-shared</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2391">fix(metrics): stop using user-agent string in flow id check</a></li>
<li><a href="https://github.com/mozilla/fxa-content-server/pull/6044">fix(metrics): stop using user-agent string in flow id check</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2393">chore(logging): use a less confusing op on flow event errors</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2398">chore(tests): remove duplicate mocking code</a></li>
<li><a href="https://github.com/mozilla/fxa/pull/293">chore(scripts): remove archived repositories from milestone list</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2401">feat(sms): query the available budget in /sms/status</a></li>
<li><a href="https://github.com/seanmonstar/insist/pull/4">fix undefined dereference in getSource</a></li>
<li><a href="https://github.com/mozilla/fxa-content-server/pull/6086">fix(server): fix undefined dereference</a></li>
<li><a href="https://github.com/mozilla/fxa/pull/295">chore(scripts): add fxa-email-service to repo list</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/7">feat(api): implement a basic /send endpoint</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/11">feat(config): add configuration</a></li>
<li><a href="https://github.com/mozilla/fxa-dev/pull/365">feat(sms): enable permissions for SMS budget checks</a></li>
</ul>
<h3>May</h3>
<p>In May,
I moved all of my personal repositories to GitLab.
As a proponent of open-source software,
I like the idea of hosting my own open-source code
on a service that is itself open-source
and I'd wanted to move for a while,
but the inertia of already having everything on GitHub
was difficult to get past.
Rumours of a Microsoft buyout
were a sufficient nudge though
and, as it turned out,
migrating was really easy.
GitLab pulled everything across,
including issues and so on,
at the touch of a button.
Ultimately I plan to move
to a self-hosted GitLab instance
running under this domain,
but that's a topic
for another blog post.</p>
<p>On the work front,
May was all about the email service.
Looking back at some of those changes now,
my inexperience with Rust at the time
is clear to see.
But the broad direction stands up well,
such as <a href="https://github.com/mozilla/fxa-email-service/pull/34">mozilla/fxa-email-service#34</a>
where I leaned on the trait system
to implement a Sendgrid provider
that had interface-compatibility
with our SES provider.</p>
<p>These were the changesets
from May:</p>
<ul>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/15">refactor(settings): extract common functions for deserialization</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/16">chore(project): add the MPL</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/17">feat(ses): implement ses-based email sending</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2420">fix(metrics): remove old flow signature fallback code</a></li>
<li><a href="https://github.com/mozilla/fxa-content-server/pull/6163">fix(metrics): remove temporary flow validation fallback code</a></li>
<li><a href="https://github.com/mozilla/fxa-content-server/pull/6178">fix(client): improve messaging before delete account</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2432">chore(logging): downgrade location translation error to warning</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/22">feat(db): check the emailBounces table before sending email</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2435">fix(metrics): don't emit route flow events for 404s</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2436">fix(logging): log successful sms budget checks</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/23">feat(docs): add a readme doc</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2440">fix(docs): fix devices validation output of the doc generator</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2442">refactor(metrics): move amplitude email types back here from fxa-shared</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2443">fix(nsp): fix nsp warnings</a></li>
<li><a href="https://github.com/mozilla/fxa-shared/pull/24">refactor(metrics): pull email type definitions back up to the caller</a></li>
<li><a href="https://github.com/mozilla/fxa-content-server/pull/6202">refactor(metrics): move amplitude email types back here from fxa-shared</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2451">fix(sms): follow documented conventions for AWS GetMetricStatistics call</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/27">fix(db): add missing fields/values to auth_db::BounceRecord</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/28">feat(queues): handle SES bounce, complaint and delivery notifications</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/29">fix(db): fix broken BounceSubtype deserialization</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/30">fix(errors): include more useful messages in wrapping errors</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/31">feat(db): implement AuthDb::create_bounce</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/32">chore(queues): split out a separate process for queue-handling</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/34">feat(sendgrid): implement basic sending via sendgrid</a></li>
</ul>
<h3>June</h3>
<p>June was a difficult month,
as <a href="/blog/bye-dad">my Dad</a>'s health deteriorated rapidly
and he finally lost
his long, grim battle
against a cancer
that started in his pancreas,
then spread to his liver, stomach and lungs.
It seems strange to write about that
in a blog post about programming,
but it felt strange at the time
to just continue on with work
and side-projects,
while more important stuff was happening
in real life.</p>
<p>That dissonance is reflected
in the changesets for June,
which were mostly trivial
and relatively few in number:</p>
<ul>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/36">fix(errors): return JSON payloads for error responses</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/37">fix(sendgrid): return message id from the sendgrid provider</a></li>
<li><a href="https://gitlab.com/philbooth/pbvi/commit/7e76ee83ae7c138ff72a4a08466cd3e095786f6a">feat(tokens): define token trait and grapheme implementation</a></li>
<li><a href="https://gitlab.com/philbooth/pbvi/commit/edee19f25bd70b3b19a996708712cd03efe2df32">refactor(tokens): make terminates non-optional</a></li>
<li><a href="https://gitlab.com/philbooth/pbvi/commit/7ba6c86ea5dbad854293956602d5f705a0eca08f">feat(tokens): implement the word type</a></li>
<li><a href="https://gitlab.com/philbooth/pbvi/commit/b3dbe720e88fe8f93b61daaa2dd946ddb5a546de">fix(tokens): ensure word manipulation cascades to graphemes</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/55">fix(validation): relax the sendgrid API key validation regex</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/39">chore(errors): don't serialize nulls in error payloads</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/43">chore(code): eliminate some if-lets in favour of combinators</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/59">fix(bounces): ensure db errors don't get converted to 429 responses</a></li>
<li><a href="https://gitlab.com/philbooth/bfj/commit/3c50fe452b0cc074350e3387ae1b2a31cfddbcb0">fix(eventify): don't serialise NaN or infinities</a></li>
<li><a href="https://gitlab.com/philbooth/please-release-me/commit/8e06c8c705d25b95eaecb2e1e62bbdec5db8aef6">fix(script): make it work on GNU sed</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/72">feat(metadata): store caller-specific metadata with the message id</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/73">feat(metadata): send message metadata in outgoing notifications</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/78">refactor(project): push core code into a common lib</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/80">refactor(db): hide queues db access behind bounces interface</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/91">fix(queues): parse notifications synthesized from sendgrid events</a></li>
<li><a href="https://github.com/mozilla/fxa-content-server/pull/6300">fix(metrics): prevent reset-password from clobbering mixed-in events</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-db-mysql/pull/370">feat(scripts): add boilerplate to detect missing migrations</a></li>
<li><a href="https://gitlab.com/philbooth/pbvi/commit/e085561ae03a403a1afb25a3b7dfa84fe6649b70">refactor(tokens): extract word logic to generic ParentToken struct</a></li>
<li><a href="https://gitlab.com/philbooth/pbvi/commit/38f092808d22cce3ecb8d3dd983bb7a3f63f9806">fix(tokens): push appropriate terminates value on to child tokens</a></li>
</ul>
<h3>July</h3>
<p>In July,
work continued on the email service
and started on a <a href="https://github.com/mozilla-services/syncstorage-rs">Rust port of the Firefox Sync storage server</a>.</p>
<p>An interesting change
related to the former
was the implementation of dynamic email config
in <a href="https://github.com/mozilla/fxa-auth-server/pull/2535">mozilla/fxa-auth-server#2535</a>.
This was a big deal because previously
all our configuration data was static
and required a deployment by the Ops team
for us to make changes.
Co-opting Redis for this
was something of an ad hoc approach,
but worked well
and allowed us to make rapid config changes
such as diverting email for particular users
via a different provider,
after they reported that
they weren't receiving any email
from Firefox Accounts at all.</p>
<p>Amongst the usual array of other fixes,
in <a href="https://github.com/mozilla/fxa-auth-server/pull/2550">mozilla/fxa-auth-server#2550</a>
I addressed a curious <code>500</code> error
that was reported by Sentry.
It indicated that somehow,
one of the session token objects
cached in Redis
was invalid JSON when we came to unpack it.
After failing to identify any possible ways
for such data to arrive in the data store,
and bearing in mind there had been a single case
of this error
across hundreds of millions of session tokens,
I chalked it up to &quot;operational weirdness&quot;
then added some logic to purge the offending data
if it happened again.
The error never recurred
and it remains an unsolved mystery.</p>
<p>There were 27 changesets
in July:</p>
<ul>
<li><a href="https://gitlab.com/philbooth/pbvi/commit/d47155e7becdb85a83298db84fbd38d3310e133a">chore(code): jiggle some stuff around because ocd</a></li>
<li><a href="https://gitlab.com/philbooth/pbvi/commit/d61ae989c611b505105831eb3dfda3f7aea5fec8">feat(tokens): implement encapsulated token parsing</a></li>
<li><a href="https://gitlab.com/philbooth/pbvi/commit/e9ee9ed2c7046893587fe74674268c01ebb7bb5a">refactor(tests): change some test names</a></li>
<li><a href="https://gitlab.com/philbooth/pbvi/commit/33ae445c25036a6996afe3fe5b778fad42adde05">chore(tests): assert that empty lines are parsed correctly</a></li>
<li><a href="https://gitlab.com/philbooth/pbvi/commit/8d69633120180efe42c4f15023fd02a57d76a8d2">feat(tokens): implement the paragraph type</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/112">fix(scripts): update references to bin names with <code>fxa-email-</code> prefix</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/115">feat(docs): generate developer docs with rustdoc</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/117">chore(docs): automatically publish rustdoc output to github pages</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/118">fix(scripts): stop gh-pages script from failing for pull requests</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/119">fix(scripts): don't try to deploy docs if they haven't changed</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2505">fix(metrics): don't force utm_source=email on links in emails</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/120">refactor(types): extract the EmailAddress type to its own module</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/121">fix(docs): better docs for the settings module</a></li>
<li><a href="https://gitlab.com/philbooth/pbvi/commit/65430ece25f389e88e8001522570b04a8b1e0dc8">refactor(tokens): use internal iteration for child tokens</a></li>
<li><a href="https://github.com/mozilla/fxa-content-server/pull/6342">fix(metrics): force utm_source=email when signing in from CAD</a></li>
<li><a href="https://github.com/mozilla/fxa-shared/pull/29">feat(metrics): add event properties for email sender and service</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2508">feat(metrics): add amplitude event properties for email service/sender</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2510">fix(email): gracefully handle errors from fxa-email-service</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/131">fix(deploy): pin to a known compatible rust version in docker and ci</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2523">fix(email): fix broken X-SES-CONFIGURATION-SET header</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2526">feat(email): add a service property to the X-SES-MESSAGE-TAGS header</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2530">fix(package): fixes for npm security audit</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2535">feat(email): read live email-sending config from redis</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-db-mysql/pull/377">fix(tests): move local utils tests so they get run by npm t</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/142">feat(settings): enable the default provider to override requests</a></li>
<li><a href="https://github.com/mozilla-services/syncstorage-rs/pull/4">feat: handlers and dispatchers for get_bso and put_bso</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2550">fix(redis): recover from invalid token JSON in Redis</a></li>
<li><a href="https://github.com/mozilla-services/syncstorage-rs/pull/6">fix: turn on cargo fmt in CI and fix fmt errors</a></li>
</ul>
<h3>August</h3>
<p>During August,
I finished off the work
for dynamic email configuration
in <a href="https://github.com/mozilla/fxa-auth-server/pull/2571">mozilla/fxa-auth-server#2571</a>,
<a href="https://github.com/mozilla/fxa-auth-server/pull/2574">mozilla/fxa-auth-server#2574</a>
and <a href="https://github.com/mozilla/fxa-auth-server/pull/2576">mozilla/fxa-auth-server#2576</a>.</p>
<p>In <a href="https://github.com/mozilla/fxa-auth-db-mysql/pull/392">mozilla/fxa-auth-db-mysql#392</a>,
I wrote a script
to run <code>EXPLAIN</code> checks
of our MySQL stored procedures
in CI.
This was an idea I had
during the postmortem meeting
for a Firefox Accounts database outage
that we suffered in production.
When I suggested it during the meeting
I got some doubtful responses,
but I decided to try it out anyway
and it turned out pretty well.
You can read more about it
in my <a href="/blog/automating-mysql-explain-checks">blog post</a>
on the subject.</p>
<p>I also started working on Hawk authentication
for the Rust syncstorage port
in <a href="https://github.com/mozilla-services/syncstorage-rs/pull/20">mozilla-services/syncstorage-rs#20</a>.
It was the first time I'd really looked at
the Hawk protocol in depth,
so there were a lot of kinks to iron out
during code review
and the PR didn't actually land
until September.</p>
<p>August changesets:</p>
<ul>
<li><a href="https://github.com/mozilla-services/syncstorage-rs/pull/7">fix(tests): stop creating a fresh DBManager on every request</a></li>
<li><a href="https://github.com/mozilla-services/syncstorage-rs/pull/8">feat: stub out some more endpoints</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2566">fix(email): ensure email-service errors fail the call to sendMail</a></li>
<li><a href="https://github.com/mozilla-services/syncstorage-rs/pull/9">feat: add handler stubs for collection endpoints</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2571">fix(email): JSON.parse live email config after reading from redis</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2574">feat(email): write live email-sending config to redis</a></li>
<li><a href="https://github.com/mozilla-services/syncstorage-rs/pull/14">fix: rip out the DBExecutor code</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2576">Small improvements for the email-config script</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2578">Fixes for email address validation</a></li>
<li><a href="https://github.com/mozilla/fxa-content-server/pull/6462">fix(metrics): stop sending unused performance flow events</a></li>
<li><a href="https://github.com/mozilla/application-services/pull/187">feat(docs): add machine-readable validation regexes for fxa metrics</a></li>
<li><a href="https://github.com/mozilla/fxa-activity-metrics/pull/105">Debigulate flow_events</a></li>
<li><a href="https://github.com/mozilla-services/syncstorage-rs/pull/15">feat: add handler stub for DELETE /{uid}</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2581">fix(devices): used cached devices property during requests</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-db-mysql/pull/383">chore(db): stop calling the upsertAvailableCommands procedure</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2584">fix(scripts): fix the broken api docs generator script</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2585">fix(devices): check token.deviceAvailableCommands before dereferencing</a></li>
<li><a href="https://github.com/mozilla/fxa-content-server/pull/6465">feat(tests): assert that validation regexes match docs</a></li>
<li><a href="https://github.com/mozilla-services/syncstorage-rs/pull/17">feat: define and mock a db trait</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-db-mysql/pull/392">feat(scripts): add script to automate EXPLAIN checks</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2603">chore(email): force value to boolean in account deletion check</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-db-mysql/pull/394">fix(scripts): remove nonsense (but harmless) comparison of bool to -1</a></li>
<li><a href="https://github.com/mozilla/fxa-activity-metrics/pull/106">feat(scripts): delete flow.begin events after processing</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2606">fix(logging): log errors when reading/parsing live email config</a></li>
<li><a href="https://github.com/mozilla-services/syncstorage-rs/pull/20">feat: implement hawk authentication</a></li>
</ul>
<h3>September</h3>
<p>We had something of an indian summer in September
and it was proper beach weather
where I live on the south coast of England:</p>
<p><img src="https://assets.philbooth.me/images/bournemouth-beach-672.jpg" alt="Bournemouth Beach in September" /></p>
<p>For Firefox Accounts,
September saw deployment
of the email service
to production.
The deployment went smoothly
and over following weeks
we were able to use
the work I'd done
on dynamic email configuration
to stage a gradual rollout
to increasing percentages
of our userbase.</p>
<p>September changesets:</p>
<ul>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2608">chore(tests): switch from insist to chai for assertions</a></li>
<li><a href="https://github.com/mozilla/fxa-content-server/pull/6517">fix(metrics): send events from /metrics-flow to amplitude</a></li>
<li><a href="https://github.com/mozilla/fxa-content-server/pull/6539">fix(code): fix some lgtm analysis warnings</a></li>
<li><a href="https://github.com/mozilla/fxa-email-event-proxy/pull/7">feat(docs): include more dev/setup info in the readme</a></li>
<li><a href="https://github.com/mozilla/fxa-email-event-proxy/pull/8">feat(deploy): build a zip archive for lambda deployment</a></li>
<li><a href="https://github.com/mozilla/fxa/pull/316">chore(repos): add the email event proxy to repo list</a></li>
<li><a href="https://github.com/mozilla-services/syncstorage-rs/pull/27">feat: implement Deserialize for the master_secret setting</a></li>
<li><a href="https://github.com/mozilla/fxa-shared/pull/35">fix(l10n): ensure the correct language is selected in localizeTimestamp</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2639">fix(metrics): prohibit overwriting stashed metrics context</a></li>
<li><a href="https://github.com/mozilla/fxa-content-server/pull/6577">feat(scripts): force registry links in shrinkwrap to use tls</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2641">feat(scripts): force registry links in shrinkwrap to use tls</a></li>
<li><a href="https://github.com/mozilla-services/syncstorage-rs/pull/39">feat: implement the /configuration endpoint</a></li>
<li><a href="https://github.com/mozilla-services/syncstorage-rs/pull/41">chore: add doc comments for Hawk authentication</a></li>
<li><a href="https://github.com/mehcode/config-rs/pull/78">Treat empty environment variables as unset</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/192">fix(config): ignore empty environment variables</a></li>
<li><a href="https://gitlab.com/philbooth/pbvi/commit/e7c2efe3c0b623b2af8d6634ae2652dff793e63c">refactor(tokens): replace Token trait with an enum</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2642">fix(metrics): stash metrics context during the account reset flow</a></li>
<li><a href="https://github.com/mozilla/fxa-content-server/pull/6597">fix(scripts): make tls-shrink script portable</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2644">fix(scripts): make tls-shrink script portable</a></li>
</ul>
<h3>October</h3>
<p>In October,
I dedicated a week of leave
to working on side-projects
that I'd been neglecting for some time.
Mostly I worked on <a href="https://gitlab.com/philbooth/pbvi">pbvi</a>,
a text editor that I decided to build
when I started learning Rust.
I'm not sure if I'll ever finish it,
but it's been a fun project
and a really useful playground
to help me learn the language.
I also published my first Rust crate,
<a href="https://gitlab.com/philbooth/unicode-bom">unicode-bom</a>,
which is just a tiny little dependency
that detects the unicode byte-order mark
in a file or byte array.
And I spent a little bit of time on <a href="https://gitlab.com/philbooth/fxabot">fxabot</a>,
a modified Hubot instance
that can broadcast deployment info
to our IRC and Slack channels.</p>
<p>Back at work,
with the email service deployed,
it was an opportunity to pick up
a number of lower-priority house-keeping tasks
that had been annoying me for a while.
For instance,
in <a href="https://github.com/mozilla/fxa-email-service/pull/196">mozilla/fxa-email-service#196</a>
I refactored from raw strings
to a strong <code>EmailAddress</code> type,
in <a href="https://github.com/mozilla/fxa-email-service/pull/200">mozilla/fxa-email-service#200</a>
I automated the (de)serialisation of data
at the boundary of our Redis abstraction
and in <a href="https://github.com/mozilla/fxa-email-service/pull/213">mozilla/fxa-email-service#213</a>
I tidied up the directory structure a bit.
It was also a chance
to lay down some groundwork
for opening up the email service
to other teams,
by starting the process of
migrating away from
the auth server's database
in <a href="https://github.com/mozilla/fxa-email-service/pull/203">mozilla/fxa-email-service#203</a>.</p>
<p>October changesets:</p>
<ul>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2648">chore(sms): log JSON-serialised result if we fail to parse max spend</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/193">refactor(redis): extract redis code to a dedicated db module</a></li>
<li><a href="https://github.com/mozilla/fxa-js-client/pull/285">fix(metrics): remove metricsContext from deprecated routes</a></li>
<li><a href="https://gitlab.com/philbooth/pbvi/commit/7a271967f19674efee20731115df6acf02194e89">feat(tokens): notify parent of child deletion and reinstatement</a></li>
<li><a href="https://gitlab.com/philbooth/pbvi/commit/a4e92af5486ea131d161b0e14756d5a3139b817f">refactor(tokens): move logic for sibling nodes to its own module</a></li>
<li><a href="https://gitlab.com/philbooth/pbvi/commit/22564b46a8e7680f297d3281b4c0c9445f595e7d">refactor(tokens): move logic for child nodes to its own module</a></li>
<li><a href="https://gitlab.com/philbooth/pbvi/commit/a8ffb6a69e418fb344b48d71273055217cbeff84">refactor(tokens): move logic for parent nodes to its own module</a></li>
<li><a href="https://gitlab.com/philbooth/pbvi/commit/e84b089be18eee23c47246b2481e62803619262e">refactor(tokens): move logic for values to its own module</a></li>
<li><a href="https://gitlab.com/philbooth/pbvi/commit/6eba3b928a137e560fb804e4c57f99dcc600af54">feat(tokens): notify parent of child replacement</a></li>
<li><a href="https://gitlab.com/philbooth/pbvi/commit/1005bffb1f5147245e69a862f7b9fb3f610edb14">Phil Booth's avatar
feat(cursor): implement a basic cursor with line and grapheme movement</a></li>
<li><a href="https://gitlab.com/philbooth/pbvi/commit/82a1b01f032a04fba01a0e3cebf14762ce057ed5">refactor(tokens): simplify token reads with TokenArena::read</a></li>
<li><a href="https://gitlab.com/philbooth/pbvi/commit/5eced05830e619f16c406715d630f49036aa4e4c">fix(cursor): ensure sane cursor-handling of newline characters</a></li>
<li><a href="https://gitlab.com/philbooth/pbvi/commit/9199e2be2fb9b74cb17ea03e8f140e62c6eaa730">fix(tokens): ensure terminates flag cascades to all descendants</a></li>
<li><a href="https://gitlab.com/philbooth/pbvi/commit/2bd21720aaa0d9e171b2cd07badacf47283d98be">feat(cursor): maintain an ideal grapheme index while moving lines</a></li>
<li><a href="https://gitlab.com/philbooth/pbvi/commit/19a43d5db9af4eac0e97a24db02f2ef44d0caf14">feat(cursor): implement line-end stickiness when moving lines</a></li>
<li><a href="https://gitlab.com/philbooth/pbvi/commit/d51808adf54f05aac6fa620248eb962542f8868b">feat(cursor): implement basic word movement</a></li>
<li><a href="https://gitlab.com/philbooth/pbvi/commit/234f67261d7504190f7003c6bf5abbdba063ce7d">fix(cursor): include current word in reverse movement when not at start</a></li>
<li><a href="https://gitlab.com/philbooth/pbvi/commit/8027493148eea68f038a2eb0134fcefdd99fccc6">feat(cursor): implement word-end movement</a></li>
<li><a href="https://gitlab.com/philbooth/pbvi/commit/74286067808f9d3f5fa5a2c7ac2338c17866e278">fix(cursor): include punctuation in word movement</a></li>
<li><a href="https://gitlab.com/philbooth/pbvi/commit/b8d89a6bab41b8cece539845f970be416aa9e8bf">feat(cursor): implement basic paragraph movement</a></li>
<li><a href="https://gitlab.com/philbooth/pbvi/commit/71c4215db4588998b639dcbb2ce88ed5ecf5771d">refactor(cursor): eliminate some common boilerplate and reorder some methods</a></li>
<li><a href="https://gitlab.com/philbooth/pbvi/commit/f460e3c6aa8bf5f4a5249aa12fd09d569af3fbe5">feat(file): implement basic file reading</a></li>
<li><a href="https://gitlab.com/philbooth/pbvi/commit/9eb83cd5f10c3012515e43273c9cbb7fc0df80ba">refactor(tokens): make arena reference-counted member instead of static</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/196">refactor(types): prefer EmailAddress type to raw strings</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/197">fix(ci): only build deployment artifacts for tags</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/198">refactor(bounces): pull all bounce/complaint code into one module</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/200">feat(db): serialize to JSON on write and deserialize from JSON on read</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/202">refactor(redis): stop treating no data as an error in the getters</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2663">fix(email): handle the new error structure from fxa-email-service</a></li>
<li><a href="https://github.com/mozilla-services/syncstorage-rs/pull/62">fix: return an array from GET /info/quota</a></li>
<li><a href="https://github.com/mozilla-services/syncstorage-rs/pull/63">chore: deploy docs to gh-pages branch</a></li>
<li><a href="https://github.com/mozilla-services/syncstorage-rs/pull/64">fix: use posix-friendly logical and in docs script</a></li>
<li><a href="https://github.com/mozilla-services/syncstorage-rs/pull/66">fix: use single = for equality test in docs script</a></li>
<li><a href="https://github.com/mozilla/fxa-content-server/pull/6639">fix(metrics): stop sending metrics context to deprecated endpoints</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2666">fix(email): include data from headers in email sent events</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/203">feat(db): write bounce and complaint records to our own db</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/204">chore(tests): add test coverage for the order of delivery problems</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-db-mysql/pull/408">fix(mem): ensure emailBounces are stored most-recent first</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2670">fix(email): ensure mock senders take precedence over the email service</a></li>
<li><a href="https://github.com/mozilla-services/syncstorage-rs/pull/69">feat: map db and hawk errors to a common top-level error type</a></li>
<li><a href="https://github.com/mozilla-services/syncstorage-rs/pull/70">refactor: convert validation errors to use failure</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2677">fix(metrics): ensure email events use stashed flow data where applicable</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2682">fix(metrics): ensure metrics context is propagated from /account/reset</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2683">chore(api): remove metrics context data from deprecated endpoints</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2684">feat(metrics): add code and config for email service notification queue</a></li>
<li><a href="https://github.com/mozilla/fxa-content-server/pull/6663">fix(ci): update travis to use oauth server in auth server repo</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2694">fix(logging): log the reason for account deletions</a></li>
<li><a href="https://github.com/mozilla-services/syncstorage-rs/pull/73">refactor: map to failure errors in X-Weave-Timestamp middleware</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2698">fix(metrics): use correct format for email service notifications</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/208">fix(queues): fix the serialized format of outgoing notifications</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/212">fix(code): implement AsRef<str> to expose cheaper &amp;str access</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-db-mysql/pull/419">feat(scripts): add ROW_COUNT() checks to the procedure-linting script</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-db-mysql/pull/425">fix(scripts): stop the explain script tripping over git grep colours</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2701">fix(tests): remove assertions of profileChangedAt property</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/213">refactor(project): tidy up the directory structure a bit</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/218">feat(settings): extract provider type to a fully-fledged enum</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2707">chore(errors): make email-sending errors a 422 for new addresses</a></li>
<li><a href="https://gitlab.com/philbooth/fxabot/commit/52ac77445b7c9854cf19257e3f4d923734a306ad">feat(scripts): add fxa train-reporting commands</a></li>
<li><a href="https://gitlab.com/philbooth/fxabot/commit/4aa0643ebd66c86b925816b98b270bb4bff580de">feat(scripts): add nominate command</a></li>
<li><a href="https://gitlab.com/philbooth/fxabot/commit/581b6912d38e566da14cb7df4a534b8689c9f59f">fix(bot): connect to IRC</a></li>
<li><a href="https://gitlab.com/philbooth/fxabot/commit/10fc9101c54ee973c8b98a3a1eb8498b343f4369">feat(scripts): add command to look up by date string</a></li>
<li><a href="https://gitlab.com/philbooth/fxabot/commit/a1ee5c138a7ca896101646ad5e55c054d38df7b5">fix(scripts): consistent error handling</a></li>
<li><a href="https://gitlab.com/philbooth/fxabot/commit/ccb9af11ba778e0b3524d3fdca7d685c4aed13dc">fix(scripts): gracefully handle recent lookups by date</a></li>
<li><a href="https://gitlab.com/philbooth/fxabot/commit/757da6e06d63abbe242184d4adba9a460b3fca1d">chore(deploy): prepare for side-by-side irc/slack deployment</a></li>
</ul>
<h3>November</h3>
<p>In November,
traffic to the email service
reached 100%,
marking the end of
our phased rollout
to production.
It was another month of
refactorings and small-ish fixes.</p>
<p>In <a href="https://github.com/mozilla/fxa-email-service/pull/246">mozilla/fxa-email-service#246</a>,
I wrote an automated release-tagging script
for the email service.
It borrows from some prior art
in my personal release-tagging script,
<a href="https://gitlab.com/philbooth/please-release-me">philbooth/please-release-me</a>,
but is tailored towards
the particular conventions
followed by the FxA repos.
Because we use structured commit messages,
it's easy to employ a combination of
<code>git log</code>, <code>cut</code> and <code>awk</code>
to generate a readable change log
for each release.
The version number
can be bumped
in <code>Cargo.lock</code> and <code>Cargo.toml</code>
using <code>sed</code>,
then it's just a case
of committing the changes
and creating a tag.</p>
<p>In <a href="https://github.com/mozilla/fxa-email-service/pull/236">mozilla/fxa-email-service#236</a>,
I paid some much-needed attention
to error-handling in the email service.
It had grown organically into a somewhat tangled mess
and was a source of irritation,
so I was greatly pleased
to clean and simplify it.</p>
<p>In <a href="https://github.com/mozilla/fxa-email-service/pull/249">mozilla/fxa-email-service#249</a>,
<a href="https://github.com/mozilla/fxa-email-service/pull/255">mozilla/fxa-email-service#255</a>
and <a href="https://github.com/mozilla/fxa-email-service/pull/256">mozilla/fxa-email-service#256</a>,
I refactored some settings
from strings to enums.
This work included
a nice little <code>enum_boilerplate!</code> macro
to reduce duplication in the resulting code.
I absolutely <em>love</em> the macro system in Rust,
something that you can read more about
<a href="/blog/refactoring-with-rust-macros">here</a>.</p>
<p>November changesets:</p>
<ul>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/221">refactor(errors): stop exposing AppErrorKind directly from AppError</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2711">fix(errors): reinstate bounce error failures/messaging</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/228">fix(email): fix sentry errors in prod</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/229">feat(types): ignore display name part when parsing email addresses</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/231">feat(bounces): use timestamps from ses instead of the current time</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/233">fix(settings): fix panic when sentry is disabled</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/236">refactor(api): reduce the number of different error kinds we return</a></li>
<li><a href="https://github.com/mozilla-services/syncstorage-rs/pull/81">feat(logging): enable sentry</a></li>
<li><a href="https://github.com/mozilla/fxa-content-server/pull/6692">fix(metrics): generate an amplitude deviceId in GET /metrics-flow</a></li>
<li><a href="https://github.com/mozilla/fxa-content-server/pull/6694">fix(tests): reinstate accidentally-disabled server tests</a></li>
<li><a href="https://github.com/vladikoff/fxa-dev-launcher/pull/4">fix(prefs): point activity stream at FXA_ENV</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2729">chore(tests): make geolocation assertions more robust</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/233">fix(settings): fix panic when sentry is disabled</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/236">refactor(api): reduce the number of different error kinds we return</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/240">fix(ses): ensure html part gets charset=utf-8 content type</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/249">refactor(settings): promote Env to an enum from a wrapped string</a></li>
<li><a href="https://github.com/mozilla/fxa-content-server/pull/6718">fix(validation): accept emails containing an apostrophe on the front-end</a></li>
<li><a href="https://github.com/mozilla-services/syncstorage-rs/pull/91">Two tiny tweaks for Sentry</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/250">chore(build): lower the debug level to decrease binary size</a></li>
<li><a href="https://github.com/mozilla-services/syncstorage-rs/pull/95">fix: return a 415 for unsupported content-type headers</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/255">refactor(settings): promote LogFormat and LogLevel to enums</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2760">fix(metrics): emit login complete amplitude event after reset complete</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-db-mysql/pull/443">feat(scripts): a bunch of changes to the lint script</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/256">refactor(settings): implement Default in enum_boilerplate!</a></li>
<li><a href="https://github.com/mozilla/fxa-email-event-proxy/pull/17">fix(lambda): stop swallowing internal errors</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2763">fix(metrics): ensure email sent amplitude events include device id</a></li>
<li><a href="https://github.com/mozilla/fxa-content-server/pull/6733">feat(metrics): add deviceId to the resume token</a></li>
</ul>
<h3>December</h3>
<p>December was pretty quiet,
because of the Mozilla All Hands
and then the holidays.</p>
<p>In <a href="https://github.com/mozilla/fxa-email-service/pull/261">mozilla/fxa-email-service#261</a>,
I implemented a serializable regex type.
And in <a href="https://github.com/actix/actix-web/pull/637">actix/actix-web#637</a>,
I contributed a fix
to support custom values
for the <code>Content-Type</code> header.</p>
<p>On a personal note,
I was really happy to study and pass
my <a href="/blog/passing-the-wset-level-2-award-in-wines-and-spirits">WSET level 2</a>.</p>
<p>December changesets:</p>
<ul>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/260">fix(errors): convert ses invalid domain error into a 400</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/261">feat(types): implement a serializable regex type</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/262">feat(code): update to rust 2018</a></li>
<li><a href="https://github.com/mozilla/fxa-email-service/pull/267">fix(scripts): ignore merge commits when generating changelog</a></li>
<li><a href="https://github.com/actix/actix-web/pull/637">Support custom content types in JsonConfig</a></li>
<li><a href="https://github.com/mozilla/fxa-amplitude-send/pull/78">fix(scripts): fix lint errors in marketing scripts</a></li>
<li><a href="https://github.com/mozilla/fxa-amplitude-send/pull/79">feat(scripts): convert the sync import scripts to be docker-friendly</a></li>
<li><a href="https://github.com/mozilla/fxa-auth-server/pull/2851">feat(metrics): add country and region to activity and flow events</a></li>
<li><a href="https://github.com/mozilla/fxa-content-server/pull/6851">feat(metrics): add country and region to flow events</a></li>
<li><a href="https://github.com/mozilla/fxa-activity-metrics/pull/123">feat(scripts): add country and region columns to activity/flow events</a></li>
</ul>
<h3>Conclusion</h3>
<p>Looking back,
I think it was a productive year,
all things considered:</p>
<ul>
<li>
<p>I learned Rust.</p>
</li>
<li>
<p>I took a new microservice
for the FxA stack
all the way from planning
to deployment in production.</p>
</li>
<li>
<p>I made proactive and meaningful contributions
with tangible outcomes,
in response to operational issues
that we hit in production.</p>
</li>
<li>
<p>I kept the FxA metrics infrastructure up and running,
fixing issues as they showed up in the data
and deploying code for new metrics
as the needs arose.</p>
</li>
<li>
<p>I fixed a whole bunch of different issues
across a whole bunch of different repositories,
using a whole bunch of different languages.</p>
</li>
</ul>
<p>Looking ahead
and keeping myself honest for 2019,
I'd like to continue working with Rust
and go back to using a LISP again
for some of my side-projects.</p>
<p>Away from programming,
I want to pass my driving test,
learn French
and pass my WSET level 3.</p>
