<h2>Three ways to shoot yourself in the foot with Google Cloud Run</h2>
<!-- devops gcp cloud-run how-to extreme-learning -->
<p class="article-time"><em><time datetime="2024-12-08T10:00:00.000Z">8<sup>th</sup> December 2024</time></em></p>
<p>This post is an expansion of
a <a href="https://news.ycombinator.com/item?id=42253665">comment I made on HN</a> recently
and continues my <a href="/blog?topic=extreme-learning"><em>Extreme Learning</em></a> series.
Previously I discussed how I've managed to break production
<a href="/blog/four-ways-to-shoot-yourself-in-the-foot-with-redis">with Redis</a>,
<a href="/blog/nine-ways-to-shoot-yourself-in-the-foot-with-postgresql">with PostgreSQL</a>
and <a href="/blog/six-ways-to-shoot-yourself-in-the-foot-with-healthchecks">with healthchecks</a>.
Now I'll show you how I did it with <a href="https://cloud.google.com/run?hl=en">Cloud Run</a> too.</p>
<p>For context,
we migrated from <a href="https://cloud.google.com/compute/docs/instance-groups">Managed Instance Groups</a>
to Cloud Run
at work last year.
Cloud Run promises to simplify your production infrastructure
and mostly we found that to be true.
But we also discovered some hidden gotchas
that can catch you out if you're not paying attention.</p>
<h3>1. Use websockets without changing the default request timeout</h3>
<p>By default,
<a href="https://cloud.google.com/run/docs/configuring/request-timeout">Cloud Run terminates inbound TCP connections after 5 minutes</a>.
If you're doing anything that uses a long-running connection,
communicating via a websocket for example,
you'll want to change that setting.
Otherwise at best you'll have lots of reconnection overhead
and at worst you'll have weird bugs in production
that nobody can reproduce in local.</p>
<p>The upper limit on connections in Cloud Run is one hour,
so you'll need proper reconnection logic on clients
if you're running longer than that.
(but you should have proper reconnection logic regardless of course,
because you're working over the internet)</p>
<p>If you're changing this setting in the GCP web console,
it should look like this:</p>
<p><img src="https://assets.philbooth.me/images/cloud-run-request-timeout.png" alt="Screenshot of the request timeout setting in GCP" /></p>
<p>Or if you're using Terraform,
you should set <a href="https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/cloud_run_v2_service#timeout-1"><code>timeout = &quot;3600s&quot;</code></a>
in the <a href="https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/cloud_run_v2_service"><code>cloud_run_v2_service</code> resource</a>.</p>
<h3>2. Ignore the difference between first and second generation environments</h3>
<p><a href="https://cloud.google.com/run/docs/about-execution-environments">Cloud Run has two separate execution environments</a>,
each with its own tradeoffs.
The first generation environment emulates Linux (imperfectly)
and has faster cold starts.
The second generation runs on real Linux
and has faster CPU and faster network throughput.
If you don't specify a choice,
it defaults to first generation.</p>
<p>For our part,
we valued faster network throughput
so opted for second generation.
That setting looks like this in the web console:</p>
<p><img src="https://assets.philbooth.me/images/cloud-run-execution-environment.png" alt="Screenshot of the execution environment setting in GCP" /></p>
<p>For terraform we set
<a href="https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/cloud_run_v2_service#execution_environment-1"><code>execution_environment = &quot;EXECUTION_ENVIRONMENT_GEN2&quot;</code></a>.</p>
<h3>3. Don't pay attention to autoscaling settings</h3>
<p>With the default settings in place,
<a href="https://cloud.google.com/run/docs/about-instance-autoscaling">Cloud Run will autoscale up when CPU usage reaches 60%
and scale down to zero when there's no traffic</a>.
You may want to change both of those
depending on your usage.</p>
<p>In our application,
CPU usage turned out to be a suboptimal metric for scaling up,
so we tweaked the maximum number of concurrent requests to compensate.
We also have periods of very low activity at weekends,
so set the minimum instance count to 1 to eliminate cold starts.</p>
<p>Here are those settings in the web console:</p>
<p><img src="https://assets.philbooth.me/images/cloud-run-concurrent-requests.png" alt="Screenshot of the maximum concurrent requests setting in GCP" /></p>
<p><img src="https://assets.philbooth.me/images/cloud-run-minimum-instances.png" alt="Screenshot of the minimum instances setting in GCP" /></p>
<p>In terraform those settings are
<a href="https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/cloud_run_v2_service#max_instance_request_concurrency-1"><code>max_instance_request_concurrency = 50</code></a>
and <a href="https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/cloud_run_v2_service#min_instance_count-1"><code>scaling { min_instance_count = 1 }</code></a>.</p>
<aside>
<p class="smallprint jobspam">
Are you hiring?
Because I'm looking for my next role!
See <a href="https://files.philbooth.me/philbooth.cv.pdf" rel="nofollow">my CV</a>.
</p>
</aside>