.clearfix
  zoom 1
  &:before, &:after
    content '.'
    display block
    height 0
    overflow hidden
  &:after
    clear both

.visually-hidden
  position absolute
  left -10000px
  top auto
  width 1px
  height 1px
  overflow hidden

.break-below
  margin-bottom 1em

.no-break-below
  margin-bottom 0

.smallprint
  margin-top 3em
  font-size font-small
