html
  font-size 100.01%

html, body
  height 100%

html, body, header, footer, section, article, h1, h2, h3, h4,
p, div, span, code, a, picture, img, ol, ul, li, dl, dt, dd,
abbr, time
  margin 0
  padding 0
  border 0
  font-size 100%
  font inherit
  vertical-align baseline

body
  padding 0 1em
  background-color bg-body
  color fg-body
  font-family roboto, tahoma, verdana, freesans, clean, sans-serif
  font-size font-base

footer, section
  display block

h1
  margin-top 0.4em
  margin-bottom -0.2em
  font-family 'Patua One', serif
  font-size font-title
  font-weight bold
  font-kerning none
  letter-spacing 0.02em
  color fg-primary

h2
  font-family 'Patua One', serif
  margin-top 2em
  margin-bottom 0.2em
  font-size font-copy
  font-weight normal

h3
  font-size font-copy
  font-weight bold
  line-height 1.4

p, dt, dd, br
  font-size font-copy
  font-style normal
  line-height 1.4
  word-spacing 0.1em

p, dd
  font-weight normal

dl, p
  margin-bottom 1em

dt
  margin-right 0.3em
  float left
  clear left
  font-weight bold

li
  list-style none

a
  color fg-primary
  text-decoration none
  cursor pointer
  &:hover, &:active
    color fg-secondary

code
  font-family consolas, monaco, "lucida console", monospace, serif
  font-size 0.8em
