@media (min-width: 480px)
  body
    padding-left 4em
    padding-right 4em

  p, h3, dl
    margin-left 2em

  .undo-indent
    margin-left -2em

@media (min-width: 540px)
  body
    padding-left 2em
    padding-right 2em

@media (min-width: 640px)
  body
    padding-left 4em
    padding-right 4em

@media (min-width: 800px)
  body
    padding-left 8em
    padding-right 8em

@media (min-width: 1024px)
  body
    font-size font-base-large
    padding-left 4em
    padding-right 4em

  .annotation:before
    left -8px

@media (min-width: 1200px)
  body
    padding-left 8em
    padding-right 8em

@media print
  body
    padding 0
    margin-top -2em

  h2
    margin-top 0

  .smallprint
    display none
