.clearfix
  zoom 1
  &:before, &:after
    content '.'
    display block
    height 0
    overflow hidden
  &:after
    clear both

.section-header
  position relative

.section-link
  display none
  width 100%
  position absolute
  left -1.2em
  top -0.2em

  &:before
    content '\1f517'

.section-header:hover .section-link
  display block

.tagline
  margin -1.4em 0 0.8em
  color fg-primary
  font-family 'Patua One', serif
  font-size font-tagline
  font-weight bold
  letter-spacing 0.01em

.notification
  margin -1.2em 0 1em

.notification p
  margin-bottom 0.2em

.apology:after
  content '\1f61e'

.annotation
  display block
  float left
  padding 0 0.4em 0 0.6em
  margin-right 0.2em
  color bg-body
  border-radius 8px

  &:before
    position relative
    left -4px

  &.positive
    background-color fg-primary

    &:before
      content '\1f601'

  &.negative
    background-color #ed2918

    &:before
      content '\1f61e'

  &.neutral
    background-color #ed8609

    &:before
      content '\1f62e'

.smallprint
  margin-top 3em
  font-size font-small

