@media (min-width: 480px)
  body
    padding-left 4em
    padding-right 4em

@media (min-width: 540px)
  body
    padding-left 2em
    padding-right 2em

  .panel
    display inline
    float left
    width 48%
    &:nth-of-type(2n+1)
      margin-right 4%
      clear left

  .double-panel
    display inline
    width 100%
    float left
    clear left

  @keyframes annotation-hide
    0%
      max-width 100%
      padding-right 0.6em
    90%
      padding-right 0.6em
    100%
      max-width 0.8em
      padding-right 0

  @keyframes annotation-show
    from
      max-width 0.8em
    to
      max-width 100%

  .annotation
    max-width 0.8em
    padding-right 0
    white-space nowrap
    overflow hidden
    animation-name annotation-hide
    animation-delay 0
    animation-duration 0.5s
    animation-timing-function ease-in-out

    &:before
      left -7px

  .annotation:hover
    max-width 100%
    padding-right 0.6em
    animation-name annotation-show
    animation-duration 1.2s
    animation-timing-function ease-in-out

@media (min-width: 640px)
  body
    padding-left 4em
    padding-right 4em

@media (min-width: 800px)
  body
    padding-left 8em
    padding-right 8em

@media (min-width: 1024px)
  body
    font-size font-base-large
    padding-left 4em
    padding-right 4em

  .annotation:before
    left -8px

@media (min-width: 1200px)
  body
    padding-left 8em
    padding-right 8em

